div {
  background-color: #71c8be;
  padding: 16px 13px;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  &.dark-tooltips{
    background-color: #31394D;
    color: #ADCCF7;
    box-shadow: 0px 6px 20px 0px #0000004D;

  }
}
