:host, a {
  color: #EBEDF4;
  font-size: 16px;
  font-style: normal;
}
.footer {
  height: 175px;
  background-color: #31394D;
  text-align: center;
  padding-top: 44px;
}

.logo {
  margin-bottom: 21px;
  img {
    margin: 0 2px;
  }
}

.icons {
  margin-top: 44px;
  span {
    margin: 0 15px;
    font-size: 14px;
    img {
      margin-right: 9px;
      transform: translateY(3px);
      &.forum {
        width: 16px;
        height: 16px;
      }
    }
  }
}

