<a
  *ngIf="!mobile"
  target="_blank"
  (click)="stopPropagation($event)"
  href="{{ gitgubUrl }}/{{ githubLink }}"
  ><img src="../../../../../assets/images/social_github.svg"
/></a>
<a
  *ngIf="mobile"
  target="_blank"
  (click)="stopPropagation($event)"
  href="{{ gitgubUrl }}/{{ githubLink }}"
  ><img src="../../../../../assets/images/github_mobile.svg"
/></a>

<a
  *ngIf="!mobile"
  target="_blank"
  (click)="stopPropagation($event)"
  href="{{ forumLink }}"
  ><img src="../../../../../assets/images/social_forum.svg" class="forum"
/></a>
<a
  *ngIf="mobile"
  target="_blank"
  (click)="stopPropagation($event)"
  href="{{ forumLink }}"
  ><img src="../../../../../assets/images/forum_mobile.svg" class="forum"
/></a>
