.autocomplete {
  background: #ffffff;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%),
    0 1px 14px 0 rgb(0 0 0 / 12%);
  border-radius: 4px;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &.autocomplete-dark{
    background: #31394D;

    ::ng-deep.focusOption {
      background: #0E1521;

    }
  }
}

::ng-deep.focusOption {
  background-color: whitesmoke;
  font-weight: 500 !important;
}

/* scrollbar width */
.autocomplete::-webkit-scrollbar {
  width: 4px;
}

/* scrollbar track */
.autocomplete::-webkit-scrollbar-track {
  background: #ebedf4;
}

/* scrollbar handle */
.autocomplete::-webkit-scrollbar-thumb {
  background: #b8c5d3;
}

/* Handle on hover */
.autocomplete::-webkit-scrollbar-thumb:hover {
  background: #748aa1;
}
