<div *ngIf="mip" class="container">
  <app-details-mobiles-buttons class="mobile" [sourceData]="sections" [mip]="mip.mip"></app-details-mobiles-buttons>
  <app-mips-pagination
  [mipNumber]="mip.mip"
  [mipName]="mip.mipName"
  [mipPosition]="mipPosition"
  [total]="total"
  [parent]="mip.proposal"
  (send)="mipsPagination($event)"
  ></app-mips-pagination>
  <div class="row">
    <app-proposal-components class="no-mobile" [sourceData]="sections"></app-proposal-components>
    <app-detail-content [mip]="mip"></app-detail-content>
    <div class="column">
      <app-mip-details
      id="details-component"
      [status]="mip.status"
      [dateProposed]="mip.dateProposed"
      [dateRatified]="mip.dateRatified"
      [mipName]="mip.mipName"
      [title]="mip.title"
      [authors]="mip.author"
      [contributors]="mip.contributors"
      [type]="mip.types"
      [lastOpened]=""
      [dependencies]="mip.dependencies"
      [replaces]="mip.replaces"
      ></app-mip-details>
      <app-references [references]="mip.references"></app-references>
      <app-pull-request-history [pullrequest]="pullrequest"></app-pull-request-history>
    </div>
  </div>
</div>

