<div *ngIf="!mip && loadingUrl" class="maker-loading-shade">
  <mat-spinner></mat-spinner>
</div>
<div
  *ngIf="mip || mdUrl"
  [ngClass]="{
    container: true,
    'container-dark': darkModeService.getDarkMode(),
    hidden: loadingUrl
  }"
>
  <app-mips-pagination
    *ngIf="mip"
    [mipName]="mip?.mipName"
    [mipPosition]="mipPosition"
    [total]="total"
    [parent]="mip?.proposal"
    [sections]="sections"
    [mip]="mip?.mip"
    (send)="mipsPagination($event)"
    [darkMode]="darkModeService.getDarkMode()"
  ></app-mips-pagination>

  <div *ngIf="mip" class="tabs-container">
    <div
      *ngFor="let tab of TABS_OPTIONS"
      [ngClass]="{
        'tabs-item': true,
        'tab-active': selectedTab === tab,
        hide: tab === 'References' && !references?.length
      }"
      (click)="selectedTab = selectedTab === tab ? null : tab"
    >
      {{ tab | translate }}
    </div>
  </div>

  <div
    [ngClass]="{ row: true, 'row-tree-column': mip, 'row-two-column': mdUrl }"
  >
    <div class="column">
      <div class="sidebar-wrapper">
        <app-proposal-components
          *ngIf="sections && mip"
          class="no-mobile"
          [sourceData]="sections"
          [darkMode]="darkModeService.getDarkMode()"
        ></app-proposal-components>
        <app-proposal-components
          *ngIf="sections && mdUrl"
          class="no-mobile"
          showlevelOne="true"
          titleSidebar="Table of contents"
          [sourceData]="sections"
          [darkMode]="darkModeService.getDarkMode()"
        ></app-proposal-components>
      </div>
    </div>
    <app-detail-content
      [sourceData]="sections"
      [mdUrl]="mdUrl"
      [mip]="mip"
      [subproposals]="subproposals"
      (headingListUpdate)="headingListUpdate($event)"
      [darkMode]="darkModeService.getDarkMode()"
      #detail
    ></app-detail-content>
    <div
      *ngIf="mip"
      class="column"
      [ngClass]="{ 'details-column': darkModeService.getDarkMode() }"
    >
      <div class="sidebar-wrapper">
        <app-language-document
          *ngIf="languagesAvailables && mip"
          [ngClass]="{ 'hide-on-mobile': selectedTab !== 'Languages' }"
          (updateDocumentLanguage)="updateDocumentLanguage($event)"
          [documentLanguage]="documentLanguage"
          [languagesAvailables]="languagesAvailables"
          [darkMode]="darkModeService.getDarkMode()"
        ></app-language-document>

        <app-mip-details
          [ngClass]="{ 'hide-on-mobile': selectedTab !== 'Details' }"
          id="details-component"
          [status]="mip?.status"
          [dateProposed]="mip?.dateProposed"
          [dateRatified]="mip?.dateRatified"
          [ratifiedDataLink]="mip?.ratifiedData"
          [mipName]="mip?.mipName"
          [title]="mip?.title"
          [authors]="mip?.author"
          [contributors]="mip?.contributors"
          [type]="mip?.types"
          [lastOpened]=""
          [dependencies]="mip?.dependencies"
          [replaces]="mip?.replaces"
          [pollAddress]="mip?.pollAddress"
          [tags]="mip?.tags"
          [darkMode]="darkModeService.getDarkMode()"
        ></app-mip-details>
        <app-references
          *ngIf="references && references.length > 0"
          [ngClass]="{ 'hide-on-mobile': selectedTab !== 'References' }"
          [references]="mip?.references"
          [mipName]="mip?.mipName"
        ></app-references>
        <app-pull-request-history
          [ngClass]="{ 'hide-on-mobile': selectedTab !== 'Recent Changes' }"
          id="pull-request-history"
          [pullrequest]="pullrequest"
        ></app-pull-request-history>
      </div>
    </div>
  </div>
</div>
<app-button-top></app-button-top>
