.container {
  width: 100%;
  .row {
    display: flex;
    flex-direction: row;
    app-proposal-components {
      width: 100%;
    }
    .column {
      .sidebar-wrapper {
        height: auto;
        max-height: 98vh;
        overflow-y: scroll;
      }

      app-mip-details {
        display: block;
      }
      display: flex;
      flex-direction: column;
      height: fit-content;
      position: sticky;
      position: -webkit-sticky; /* Safari */
      top: 10px;
    }
  }
}

.maker-loading-shade {
  margin-bottom: 56px;
  min-height: 70vh;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-detail-buttons-mobile {
  z-index: 3;
}

app-mips-pagination {
  z-index: -5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 1023px) {
  .no-mobile {
    display: none;
  }
  .mobile {
    display: block;
  }

  .row {
    flex-wrap: wrap;
    app-detail-content {
      width: 100%;
    }
    .column {
      width: 100%;
      height: auto;
      overflow-y: unset;

      .sidebar-wrapper {
        height: auto !important;
        overflow-y: unset !important;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .row-tree-column{
    grid-template-columns: 240px auto 240px;
  }

  .row-two-column{
    grid-template-columns: 240px auto;
  }

  .row {
    display: grid !important;
    

    app-detail-content {
      min-width: 61.067%;
      margin: 0 10px;
    }
  }
  .mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .row {
    display: grid !important;
    grid-template-columns: 284px auto 284px;
  }
}
