.container {
  width: 100%;
  .buttons-mobile {
    transform: translateY(-80px);
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    app-proposal-components {
      // display: block;
      width: 19%;
    }   

    .column {
      app-mip-details {
        display: block;
      }      
      display: flex;
      flex-direction: column;
    }
  }
}

app-detail-buttons-mobile {
  z-index: 3;
}

app-mips-pagination {
  z-index: -5;
}

@media screen and (max-width: 768px) {
  .no-mobile{
    display: none;
  }

  .mobile {
    display: block;
  }

  .row {
    flex-wrap: wrap;
    app-detail-content {
      width: 100%;
    }
    .column {
      width: 100%;
    }
  }
}

@media screen and (min-width: 769px) {
  .row {
    app-detail-content {
      width: 60%;
    }
    .column {
      width: 19%;
    }
  }
  .mobile {
    display: none !important;
  }
}


