.container {
  margin: 30px 60px;
}

@media screen and (max-width: 500px) {
  .container {
    margin: 19px 15px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    margin: 40px 210px;
  }
}
