.container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.list-page-container-dark::ng-deep {
    .title {
      color: #98c0f5;
    }

    & ~ app-list-subset {
      .subsetColumn {
        border-color: #2f80ed !important;
      }
    }

    & ~ app-list-mipset-mode,
    & ~ app-list-multiple-queries {
      .maker-container {
        box-shadow: none;

        .mobile-container,
        .maker-element-mipset-row {
          background: #31394d;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

          a,
          p,
          em {
            color: #b8c5d3;
          }

          .title > a {
            color: #d6daea;
          }

          &:not(.proposal-card) .title {
            &,
            a {
              color: #478ded;
            }
          }
        }

        table,
        tr {
          background: #1a202b;
          border-bottom-color: #31394d;
          a,
          p,
          em {
            color: #b8c5d3;
          }
        }
        .maker-element-mipset-row td,
        .maker-element-subset-row td {
          color: #478ded !important;

          .arrow-wrapper svg > path {
            fill: #478ded;
          }
        }

        .subset-table-children td.mat-cell {
          border-bottom-color: #31394d !important;
          color: #b8c5d3;

          .borderBottom {
            background: #31394d !important;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }

        tr.maker-element-row:hover {
          .mat-column-title,
          .mat-column-summary,
          .mat-column-status,
          .mat-column-link {            background: #202733 !important;
          }
        }
      }
    }
    app-search-mobile,
    app-order-mobile {
      background: none;
      box-shadow: none;

      & > div {
        box-shadow: none;
        background-color: #31394d;

        & > svg.active > path {
          fill: #478ded;
        }
      }

      .textBoxWrapper {
        background: #31394d;
        box-shadow: none;

        .contentEditableInput {
          background: transparent;
          color: #b8c5d3;

          &::before {
            color: #b8c5d3;
          }
        }
      }
    }
  }
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: #31394d;
  float: left;
  margin: 0;
  white-space: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: -webkit-fill-available;
}

app-filter {
  z-index: 1;
}

app-order-mobile {
  margin-right: 12px;
}

.mobile {
  display: none;
}

::ng-deep {
  app-filter-list {
    .filter-list {
      width: 100%;
      margin: 12px 0 0;
      padding: 10px 10px 2px;
    }
  }
}

app-md-checkbox {
  display: block;
  margin-right: 25px;
}

// ::ng-deep {
//   :root {
//     app-md-checkbox {
//       @media screen and (max-width: 768px) {
//         transform: translate(-60px, 10px) !important;
//         min-width: 125px;
//         label {
//           width: fit-content;
//           margin-left: auto !important;
//         }
//       }
//     }
//   }
// }

app-md-checkbox-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .title {
    &.hide {
      display: none;
    }
  }
  p.title {
    white-space: pre-wrap;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .list-page-container-dark::ng-deep {
    & ~ app-list-mipset-mode,
    & ~ app-list-multiple-queries {
      .maker-container {
        table,
        tr {
          background: #31394d;
          border-bottom-color: #31394d;
          a,
          p,
          em {
            color: #b8c5d3;
          }
        }
      }
    }
  }

  .mobile {
    display: block;
  }

  .no-mobile {
    display: none;
  }

  app-md-checkbox-mobile {
    display: block;
  }

  ::ng-deep {
    app-filter-list {
      .filter-list {
        width: 100vw !important;
        margin-left: -20px;
        padding: 10px 20px 2px;
        margin-bottom: 12px;
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: calc(100% - 40px) 28px;
    column-gap: 12px;
    width: 100%;
  }

  .row-closed-input {
    display: grid;
    grid-template-columns: 28px 28px;
    column-gap: 12px;
    width: 100%;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1150px) {
  p.title {
    white-space: pre-wrap;
    width: 100%;
  }
}
