.container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: #31394d;
  float: left;
  margin: 0;
  white-space: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: -webkit-fill-available;
}

app-filter {
  z-index: 1;
}

app-order-mobile {
  margin-right: 12px;
}

.mobile {
  display: none;
}

::ng-deep {
  app-filter-list {
    .filter-list {
      width: 100%;
      margin: 12px 0 0;
      padding: 10px 10px 2px;
    }
  }
}

app-md-checkbox {
  display: block;
  margin-right: 25px;
}

app-md-checkbox-mobile {
  display: none;
}

.iconScrollTopWrapper {
  height: 44px;
  width: 44px;
  background-color: rgba(47, 128, 237, 0.3);
  position: fixed;
  bottom: 50px;
  right: 40px;
  box-shadow: none;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(47, 128, 237, 0.5);
    transition: background-color 0.2s;
  }

  img {
    height: 58%;
    z-index: 2;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 539px) {
  .title {
    &.hide {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }

  .no-mobile {
    display: none;
  }

  app-md-checkbox {
    display: none;
  }

  app-md-checkbox-mobile {
    display: block;
  }

  ::ng-deep {
    app-filter-list {
      .filter-list {
        width: 100vw !important;
        margin-left: -20px;
        padding: 10px 20px 2px;
        margin-bottom: 12px;
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: calc(100% - 80px) 28px 28px;
    column-gap: 12px;
    width: 100%;
  }

  .row-closed-input {
    display: grid;
    grid-template-columns: 28px 28px 28px 28px;
    column-gap: 12px;
    width: 100%;
    justify-content: flex-end;
  }

  .iconScrollTopWrapper {
    bottom: 50px;
    right: 30px;
  }
}
