.container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: #31394D;
  float: left;
  margin: 0;
  white-space: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: -webkit-fill-available;
}

app-search {
  margin-right: 12px;
}

app-filter {
  // margin-right: 12px;
  z-index: 1;
}

app-order-mobile {
  margin-right: 12px;
}

.feedback {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 54.44px;
  app-feedback {
    z-index: 2;
    transform: translate(24px, 20px);
    position: fixed;
    bottom: 40px;
  }
}
.mobile {
  display: none;
}

::ng-deep {
  app-filter-list {
    .filter-list {
      width: 100%;
      margin: 12px 0 0;
      padding: 10px 10px 2px;
    }
  }
}

@media screen and (max-width: 500px) {
  .feedback {
    app-feedback {
      transform: translate(5px, 0px);
    }
  }
}

@media screen and (max-width: 539px) {
  .title{
    &.hide {
      display: none;
    }
  }
  app-search-mobile {
    // width: 100%;
  }

}
@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }

  .no-mobile {
    display: none;
  }

  ::ng-deep {
    app-filter-list {
      .filter-list {
        width: 100vw !important;
        margin-left: -20px;
        padding: 10px 20px 2px;
        margin-bottom: 12px;
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: calc(100% - 80px) 28px 28px;
    column-gap: 12px;
    width: 100%;
  }

  .row-closed-input {
    display: grid;
    grid-template-columns: 28px 28px 28px;
    column-gap: 12px;
    width: 100%;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1920px) {
  .feedback {
    app-feedback {
      transform: translate(160px, -60px);
    }
  }
}
