<div class="container">
  <p class="title" [ngClass]="{'hide': mobileSearch}">MIPs List</p>
  <div class="filtering" [ngClass]="{row: mobileSearch || !mobileView, 'row-closed-input': !mobileSearch}">
    <!-- <app-md-checkbox-mobile
      [imageNoChecked]="'assets/images/subproposals-mode-no-checked.svg'"
      [imageChecked]="'assets/images/subproposals-mode-checked.svg'"
      [ngClass]="{'hide': mobileSearch}"
      (checked)="onCheckedSubproposalMode($event)"
    ></app-md-checkbox-mobile> -->
    <app-search-mobile class="mobile" (send)="onSendSearch($event)" (open)="onOpenMobileSearch($event)"
      [value]="search"
      [showListSearch]="showListSearch"
      [listSearchItems]="listSearchMip"
      [error]="sintaxError"
      [errorMessage]="errorMessage"
      [placeHolder]="'e.g $ AND(#process, #mip-set)'"
      (clickSearchItem)="onNavigateToMipDetails($event)">
    </app-search-mobile>
    <app-order-mobile class="mobile" (sendOrder)="onSendOrder($event)"></app-order-mobile>
    <!-- <app-md-checkbox
      [label]="'Subproposals Mode'"
      (checked)="onCheckedSubproposalMode($event)"
      [checkInput]="subproposalsMode"></app-md-checkbox> -->
    <app-search class="no-mobile" (send)="onSendSearch($event)" [showListSearch]="showListSearch"
      [value]="search"
      [listSearchItems]="listSearchMip"
      [error]="sintaxError"
      [errorMessage]="errorMessage"
      [placeHolder]="'e.g $ AND(#process, #mip-set)'"
      (clickSearchItem)="onNavigateToMipDetails($event)">
    </app-search>
    <app-filter (send)="onSendFilters()"></app-filter>
  </div>
</div>
<app-filter-list
  [compareFn]="cmpFn"
  (closedItem)="onCloseFilterItem($event)"
  (hasItems)="onHasItemsFilterList($event)"
  [ngStyle]="{display: showFilterList ? 'block' : 'none'}"
  #filterList
></app-filter-list>
<app-list
[loading]="loading"
[loadingPlus]="loadingPlus"
[moreToLoad]="moreToLoad"
[dataSource]="mips"
[paginationTotal]="total"
(send)="onSendPagination()"
(sendOrder)="onSendOrder($event)"
></app-list>
<div class="feedback">
  <app-feedback id="feedback"></app-feedback>
</div>

