<app-news></app-news>

<div class="container">
  <p
    class="title"
    [ngClass]="{
      hide: mobileSearch,
      'title-dark': darkModeService.getDarkMode()
    }"
  >
    {{ (mipsetMode ? "MIP Sets" : activeMenuLinkName) | translate }}
  </p>
  <div class="filtering" [ngClass]="{
      row: mobileSearch || !mobileView,
      'row-closed-input': !mobileSearch
    }">
    <app-md-checkbox-mobile style="display: none;" *ngIf="!mobileSearch" [checkInput]="mipsetMode"
      [imageNoChecked]="'assets/images/subproposals-mode-no-checked.svg'"
      [imageChecked]="'assets/images/subproposals-mode-checked.svg'" [ngClass]="{ hide: mobileSearch }"
      (checked)="onCheckedMipsetMode($event)"></app-md-checkbox-mobile>
    <app-search-mobile *ngIf="!multipleQueries" class="mobile" (send)="onSendSearch($event)"
      (open)="onOpenMobileSearch($event)" [value]="search" [showListSearch]="showListSearch"
      [listSearchItems]="listSearchMip" (loadMoreMipSuggestions)="onLoadMoreMipsSuggestions()"
      [loadingMipsSuggestions]="loadingMipsSuggestions" [error]="sintaxError" [errorMessage]="errorMessage"
      [placeHolder]="'e.g $ AND(#process, #mip-set)'" (clickSearchItem)="onNavigateToMipDetails($event)">
    </app-search-mobile>
    <app-order-mobile class="mobile" (sendOrder)="onSendOrder($event)" [orderByField]="orderObj.field"
      [orderDirection]="orderObj.direction"></app-order-mobile>
    <app-md-checkbox style="display: none;" [label]="'MIPset Mode'" (checked)="onCheckedMipsetMode($event)"
      [checkInput]="mipsetMode"></app-md-checkbox>

    <app-md-checkbox *ngIf="!hideParent" style="margin-right: 10px;" [label]="'Hide Parents'"
      (checked)="onCheckedHideParents($event)" [checkInput]="hideParentValue"></app-md-checkbox>

    <app-search *ngIf="!multipleQueries" class="no-mobile" (send)="onSendSearch($event)"
      [showListSearch]="showListSearch" [value]="search" [listSearchItems]="listSearchMip"
      (loadMoreMipSuggestions)="onLoadMoreMipsSuggestions()" [loadingMipsSuggestions]="loadingMipsSuggestions"
      [error]="sintaxError" [errorMessage]="errorMessage" [placeHolder]="'e.g $ AND(#process, #mip-set)'"
      (clickSearchItem)="onNavigateToMipDetails($event)" [darkMode]=" darkModeService.getDarkMode()">
    </app-search>
    <app-filter style="display: none;" (send)="onSendFilters()"></app-filter>
  </div>
</div>
<app-filter-list [compareFn]="cmpFn" (closedItem)="onCloseFilterItem($event)" (hasItems)="onHasItemsFilterList($event)"
  [ngStyle]="{ display: showFilterList ? 'block' : 'none' }" #filterList></app-filter-list>
<app-list *ngIf="!mipsetMode && !multipleQueries" [loading]="loading" [moreToLoad]="moreToLoad"
  [hideParent]="hideParentValue" [dataSource]="mips" [paginationTotal]="total" (send)="onSendPagination()"
  (sendOrder)="onSendOrder($event)" [showHead]="true" [darkMode]="darkModeService.getDarkMode()"></app-list>
<app-list-mipset-mode *ngIf="mipsetMode" (changeOrder)="changeOrder($event)"></app-list-mipset-mode>
<app-list-multiple-queries *ngIf="!mipsetMode && multipleQueries" (changeOrder)="changeOrder($event)">
</app-list-multiple-queries>
<app-button-top></app-button-top>
