.title {
  font-weight: bold;
  font-size: 20px;
  color: #31394D;
  float: left;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

app-search {
  margin-right: 3px;
}

app-filter {
  margin-top: 2px;
  z-index: 1;
}

app-order-mobile {
  margin-top: 16px;
  // margin-right: 4px;
}

app-search-mobile {
  margin-top: 14px;
}

.feedback {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 54.44px;
  app-feedback {
    z-index: 2;
    transform: translate(24px, 20px);
    position: fixed;
    bottom: 40px;
  }
}
.mobile {
  display: none;
}

@media screen and (max-width: 500px) {
  .feedback {
    app-feedback {
      transform: translate(5px, 10px);
    }
  }
}

@media screen and (max-width: 539px) {
  .title{
    &.hide {
      display: none;
    }
  }
  app-search-mobile {
    width: 100%;
  }

}
@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }

  .no-mobile {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .feedback {
    app-feedback {
      transform: translate(160px, -60px);
    }
  }
}
