<div class="container">
  <p class="title">Pull Requests History</p>
  <img class="logo" src="../../../../../assets/images/pull.svg" />
  <span class="label">{{pullrequest.totalOpen}} Open</span>
  <img class="logo check" src="../../../../../assets/images/check.png" />
  <span class="label">{{pullrequest.totalClosed}} CLosed</span>
  <hr>
  <div *ngFor="let item of pullrequest.items">
    <span class="row">
      <p class="info">{{item.title}} </p>
      <a href="{{item.url}}" target="_blank"><img src="../../../../../assets/images/open.svg" /></a>
    </span>
      <p class="sub">#{{getPullNumber(item.url)}} by SebVentures was merged 4 days ago </p>
    <hr>
  </div>
  <button (click)="goToMipsPullHistory()" class="reset btn"><img src="../../../../../assets/images/github_dark.svg" /> <span class="text">See all</span></button>  

</div>

