<div class="container">
  <p class="title">{{'Recent Changes' | translate}}</p>
  <div class="space-1">
    <img class="logo" src="../../../../../assets/images/pull.svg" />
    <span class="label">{{pullrequest.open}} Open</span>
    <img class="logo check" src="../../../../../assets/images/check.png" />
    <span class="label">{{pullrequest.close}} Closed</span>
  </div>
  <hr>
  <div *ngFor="let item of pullrequest.items.slice(0, 3)">
    <span class="row">
      <div class="info">{{item.title}} </div>
      <a href="{{item.url}}" target="_blank"><img class="open" src="../../../../../assets/images/open.svg" /></a>
    </span>
      <p class="sub">#{{getPullNumber(item.url)}} by <a href="{{githubURL+item.author.login}}" target="_blank">{{item.author.login}}</a>  was merged
      <span *ngIf="getDifferenceInDays(item.createdAt) == 0"> today</span>
      <span *ngIf="getDifferenceInDays(item.createdAt) == 1"> 1 day ago</span>
      <span *ngIf="getDifferenceInDays(item.createdAt) > 1"> {{getDifferenceInDays(item.createdAt)}} days ago</span>
    </p>
    <hr>
  </div>
  <a href="https://github.com/makerdao/mips/pulls" target="_blank" class="github-link">
    <img src="../../../../../assets/images/github_dark.svg" /> <span class="text">See all</span>
  </a>
</div>

