<div class="maker-container" [ngClass]="{ 'maker-container-dark': darkMode }">
  <table mat-table [dataSource]="dataSourceTable" multiTemplateDataRows class="no-mobile tableMipSet">
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplay"
    >
      <span *ngIf="column != 'links' && column != 'summary'">
        <span *ngIf="column != 'pos'">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="cursor: pointer"
            (click)="onSendOrder(column)"
          >
            <span class="headerContent"
              >{{ column | translate
              }}<app-asc-des
                [direction]="getOrderDirection(column)"
              ></app-asc-des
            ></span>
          </th>
        </span>
        <span *ngIf="column == 'pos'">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="cursor: pointer"
            (click)="onSendOrder(column)"
          >
            <span class="headerContent"
              >#<app-asc-des
                [direction]="getOrderDirection(column)"
              ></app-asc-des
            ></span>
          </th>
        </span>
      </span>
      <span *ngIf="column == 'links' || column == 'summary'">
        <th mat-header-cell *matHeaderCellDef style="cursor: default;">
          {{ column | translate}}
        </th>
      </span>
      <!-- all these td will be collapsed, the purpose of this td is to align the subtables with the header -->
      <span *ngIf="column == 'title'">
        <td
          class="tooltip"
          mat-cell
          *matCellDef="let element"
          [ngClass]="{ 'subproposal-title': element.proposal }"
          style="cursor: pointer;"
        >
          <a class="mipTitleList" style="position: relative;">
            <div class="cover"></div>
            <br />{{ element[column] }}</a
          >
        </td>
      </span>
      <span *ngIf="column == 'status'">
        <td mat-cell *matCellDef="let element">
          <div class="space-status"></div>
          <app-status
            [type]="'ACCEPTED'"
            [value]="'accepted'"
            style="cursor: pointer;"
          ></app-status>
        </td>
      </span>
      <span *ngIf="column == 'links'">
        <td mat-cell *matCellDef="let element">
          <div class="space-status"></div>
          <app-social
            votingPortalLink="{{ element?.votingPortalLink }}"
            forumLink="{{ element?.forumLink }}"
            [githubLink]="element.filename"
          ></app-social>
        </td>
      </span>
      <span *ngIf="column == 'pos'">
        <td
          mat-cell
          *matCellDef="let element"
          style="cursor: pointer; position: relative;"
        >
          <br />

          {{ element.proposal ? "" : element.mip }}
          <div>
            <button
              mat-icon-button
              *ngIf="!element.proposal && element.mipFather"
              class="arrow-container-pos"
              style="right: 0;"
            >
              <div class="arrow-wrapper expanded">
                <img class="arrow" [src]="'./assets/images/down_hover.svg'" />
              </div>
            </button>
          </div>
        </td>
      </span>
      <span *ngIf="column == 'summary'">
        <td
          style="position: relative; cursor: pointer;"
          mat-cell
          *matCellDef="let element"
        >
          <div style="cursor: pointer;">
            <a class="summary" *ngIf="!element.expandedSummary"
              ><br />
              <markdown
                class="variable-binding variable-binding-summary"
                [data]="element.sentenceSummary"
              ></markdown
            ></a>
          </div>
          <button mat-icon-button class="arrow-container-pos">
            <div class="arrow-wrapper expanded">
              <img class="arrow" [src]="'./assets/images/down_hover.svg'" />
            </div>
          </button>
        </td>
      </span>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="maker-element-row"
    ></tr>
  </table>

  <div *ngIf="loading" class="maker-loading-shade">
    <mat-spinner></mat-spinner>
  </div>

  <table
    *ngIf="!loading && displayWidth >= 768"
    mat-table
    [dataSource]="dataSourceMultiQueriesRows"
    multiTemplateDataRows
    class="mipset-table no-mobile"
  >
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplayMultiQueries"
    >
      <span *ngIf="column == 'queryName'" class="mipsetColumnWrapper">
        <td
          class="mipsetColumn"
          mat-cell
          *matCellDef="let element"
          style="cursor: pointer; position: relative"
          [ngStyle]="{
            color: element.expanded ? '#B8C5D3' : ''
          }"
        >
          {{ element[column].split("_").join(" ") | titlecase }}
          <div>
            <button
              class="arrow-container"
              (mouseover)="onMouseOverLeaveMipsetArrow(element.queryName, true)"
              (mouseleave)="
                onMouseOverLeaveMipsetArrow(element.queryName, false)
              "
              style="right: 0; position: relative"
              [ngClass]="{
                'dark-expand-arrow': !element.expanded,
                'shine-expand-arrow': element.expanded
              }"
            >
              <div
                class="arrow-wrapper expanded"
                [ngClass]="{
                  rotate: element.expanded
                }"
              >
                <svg
                  width="10"
                  height="7.14"
                  viewBox="0 0 7 5"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="arrow"
                >
                  <path
                    *ngIf="!element.expanded"
                    d="M3.91278 4.79436C3.70724 5.06854 3.29276 5.06854 3.08722 4.79436L0.102225 0.812461C-0.149574 0.476568 0.0925517 -6.03868e-07 0.515005 -5.66936e-07L6.485 -4.50231e-08C6.90745 -8.09104e-09 7.14957 0.476568 6.89778 0.812461L3.91278 4.79436Z"
                    fill="#748AA1"
                  />
                  <path
                    *ngIf="element.expanded"
                    d="M3.91278 4.79436C3.70724 5.06854 3.29276 5.06854 3.08722 4.79436L0.102225 0.812461C-0.149574 0.476568 0.0925517 -6.03868e-07 0.515005 -5.66936e-07L6.485 -4.50231e-08C6.90745 -8.09104e-09 7.14957 0.476568 6.89778 0.812461L3.91278 4.79436Z"
                    fill="#B8C5D3"
                  />
                </svg>
              </div>
            </button>
          </div>
        </td>
      </span>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayMultiQueries.length"
      >
        <div
          class="maker-element-subsetchildren-detail"
          [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'"
          (@detailExpand.done)="onAnimationEvent($event, element)"
        >
          <ng-container>
            <app-list
              [darkMode]="darkMode"
              [loading]="element.loading"
              [moreToLoad]="element.moreToLoad"
              [dataSource]="element.mips"
              [paginationTotal]="element.total"
              (send)="onSendPagination(element)"
              (sendOrder)="onSendOrder($event)"
              [showHead]="false"
              [query]="element.query"
              [hideParent]="hideParent"
              [statusParameters]="statusParameters"
            ></app-list>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayMultiQueries"
      class="maker-element-mipset-row"
      [class.maker-expanded-row]="element.expanded"
      data-cy="multiqueries-row"
      (click)="onExpandQuery(element)"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="maker-detail-mipset-row"
    ></tr>
  </table>

  <ng-container *ngIf="true">
    <div *ngFor="let itemQuery of dataSourceMultiQueriesRows" class="mobile">
      <button
        mat-button
        class="mobile-container subproposal-card-mipsetMode"
        (click)="onExpandQuery(itemQuery)"
      >
        <div style="width: calc(100% - 35px)">
          <span class="title" style="font-size: 20px">
            {{ itemQuery.queryName.split("_").join(" ") | titlecase }}</span
          >
        </div>
        <div class="subproposalsButtonWrapper">
          <button
            class="arrow-container"
            [disabled]="false"
            style="right: 0; top: 24px; transform: translateY(-50%)"
          >
            <div
              class="arrow-wrapper expanded"
              [ngClass]="{
                rotate: itemQuery.expanded
              }"
            >
              <img
                class="arrow"
                [src]="
                  isArrowMipsetDownOnMouseOver
                    ? '../../../../../assets/images/down_hover.svg'
                    : '../../../../../assets/images/down.svg'
                "
              />
            </div>
          </button>
        </div>
      </button>

      <div
        [@mipsetExpand]="itemQuery.expanded ? 'expanded' : 'collapsed'"
        (@mipsetExpand.done)="onAnimationEvent($event, itemQuery)"
      >
        <app-list
          [loading]="itemQuery.loading"
          [moreToLoad]="itemQuery.moreToLoad"
          [dataSource]="itemQuery.mips"
          [paginationTotal]="itemQuery.total"
          (send)="onSendPagination(itemQuery)"
          (sendOrder)="onSendOrder($event)"
          [showHead]="false"
          [query]="itemQuery.query"
          [hideParent]="hideParent"
          [statusParameters]="statusParameters"
        ></app-list>
      </div>
    </div>
  </ng-container>
</div>
