<div class="maker-container">
  <table mat-table [dataSource]="null" multiTemplateDataRows>
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplay"
    >
      <span *ngIf="column != 'link'">
        <span *ngIf="column != 'pos'">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="cursor: pointer;"
            (click)="onSendOrder(column)"
          >
            {{ column }}
            <img
              class="arrow up"
              [src]="
                currentSortingColumn === column && ascOrderSorting
                  ? arrowUpDark
                  : arrowUp
              "
            /><img
              class="arrow down"
              [src]="
                currentSortingColumn === column && !ascOrderSorting
                  ? arrowDownDark
                  : arrowDown
              "
            />
          </th>
        </span>
        <span *ngIf="column == 'pos'">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="cursor: pointer;"
            (click)="onSendOrder(column)"
          >
            #
            <img
              class="arrow up"
              [src]="
                currentSortingColumn === column && ascOrderSorting
                  ? arrowUpDark
                  : arrowUp
              "
            /><img
              class="arrow down"
              [src]="
                currentSortingColumn === column && !ascOrderSorting
                  ? arrowDownDark
                  : arrowDown
              "
            />
          </th>
        </span>
      </span>
      <span *ngIf="column == 'link'">
        <th mat-header-cell *matHeaderCellDef>
          {{ column }}
        </th>
      </span>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  </table>

  <div *ngIf="loading" class="maker-loading-shade">
    <mat-spinner></mat-spinner>
  </div>

  <table
    *ngIf="!loading"
    mat-table
    [dataSource]="dataSourceMipsetRows"
    multiTemplateDataRows
    class="mipset-table"
  >
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplayMipset"
    >
      <span *ngIf="column == 'mipset'" class="mipsetColumnWrapper">
        <td
          class="mipsetColumn"
          mat-cell
          *matCellDef="let element"
          style="cursor: pointer; position: relative;"
          [ngStyle]="{
            color: expandedElementMipset === element ? '#B8C5D3' : ''
          }"
        >
          {{ element[column] | tagMipset | titlecase }}
          <div (click)="onClickButtonCaptureEvent($event)">
            <button
              class="arrow-container"
              [disabled]="element.loadingSubproposals"
              (click)="onExpandMipset(element)"
              (mouseover)="onMouseOverLeaveMipsetArrow(element.mipset, true)"
              (mouseleave)="onMouseOverLeaveMipsetArrow(element.mipset, false)"
              style="right: 0; position: relative;"
              [ngClass]="{
                'dark-expand-arrow': expandedElementMipset !== element,
                'shine-expand-arrow': expandedElementMipset === element
              }"
            >
              <div
                class="arrow-wrapper expanded"
                [ngClass]="{
                  rotate: expandedElementMipset === element
                }"
              >
                <svg
                  width="10"
                  height="7.14"
                  viewBox="0 0 7 5"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="arrow"
                >
                  <path
                    *ngIf="expandedElementMipset !== element"
                    d="M3.91278 4.79436C3.70724 5.06854 3.29276 5.06854 3.08722 4.79436L0.102225 0.812461C-0.149574 0.476568 0.0925517 -6.03868e-07 0.515005 -5.66936e-07L6.485 -4.50231e-08C6.90745 -8.09104e-09 7.14957 0.476568 6.89778 0.812461L3.91278 4.79436Z"
                    fill="#748AA1"
                  />
                  <path
                    *ngIf="expandedElementMipset === element"
                    d="M3.91278 4.79436C3.70724 5.06854 3.29276 5.06854 3.08722 4.79436L0.102225 0.812461C-0.149574 0.476568 0.0925517 -6.03868e-07 0.515005 -5.66936e-07L6.485 -4.50231e-08C6.90745 -8.09104e-09 7.14957 0.476568 6.89778 0.812461L3.91278 4.79436Z"
                    fill="#B8C5D3"
                  />
                </svg>
              </div>
            </button>
          </div>
        </td>
      </span>
    </ng-container>

    <!-- Expanded Content Column -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayMipset.length"
      >
        <div
          class="maker-element-subsetchildren-detail"
          [@detailExpand]="
            element == expandedElementMipset ? 'expanded' : 'collapsed'
          "
        >
          <ng-container>
            <app-sublist [dataSource]="mips"></app-sublist>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayMipset"
      class="maker-element-mipset-row"
      [class.maker-expanded-row]="expandedElementMipset === element"
      (click)="
        expandedElementMipset =
          expandedElementMipset === element ? null : element
      "
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="maker-detail-mipset-row"
    ></tr>
  </table>
</div>
