<div *ngIf="languagesAvailables?.length && languagesNames" class="container">
  <p class="title" style="margin-bottom: 10px;">
    {{ "Languages" | translate }}
  </p>
  <div *ngFor="let item of languagesAvailables">
    <hr />
    <div *ngIf="languagesNames[item?.language]" class="data-container">
      <span class="row">
        <span class="info" (click)="handleLinkClicked(item); (false)">{{
          languagesNames[item?.language]
        }}</span>
        <!-- <span class="infoNoLink" *ngIf="!reference.proccesedLink">{{
          reference.name
        }}</span> -->
      </span>
    </div>
  </div>
</div>
