:host {
  font-style: normal;
  font-weight: 500;
}

.container {
  background: #ffffff;
  box-shadow: 0px 1px 4px #e5e9f2;
  border-radius: 5px;
  padding: 30px 30px 16px;
  margin-bottom: 10px;

  &.container-dark {
    .itemSeleced {
      color: #f5f6fa !important;
    }

    .info {
      color: #2f80ed !important;
    }
  }

  .title {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 30px;
    margin: 0;
  }
  .label {
    color: #748aa1;
    font-size: 12px;
    margin-right: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .info {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #2f80ed;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  .infoNoLink {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #748aa1;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
  }
  hr {
    background-color: #ebedf4;
    height: 1px;
    border: none;
    margin: 0;
  }
  img {
    cursor: pointer;
    margin-left: 7px;
  }

  .data-container {
    padding: 14px 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.mt-10 {
  margin-top: 10px;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 2px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
  background: #ebedf4;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #b8c5d3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #748aa1;
}

.checkmark {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: default !important;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 20px 20px 15px;
    margin-top: 20px;
    margin-bottom: 0;
    max-height: fit-content;

    .title {
      margin-bottom: 20px;
      margin-top: 0px;
    }
  }
}
