<div class="NavMenu">
  <app-menu
    *ngFor="let item of menu; let i = index"
    [menu]="item"
    [levelMenu]="0"
    (toggle)="onMenuToggle($event)"
    [isOpen]="openedIndexChild === i"
    (opened)="onOpened(i)"
  >
    <span class="underline-menu lineal">{{ item.name }}</span>
  </app-menu>
  <app-menu
    [menu]="feedBackLinkMenu"
    [levelMenu]="0"
    (toggle)="onMenuToggle($event)"
    [isOpen]="openedIndexChild === menu.length"
    (opened)="onOpened(menu.length)"
    [showArrow]="false"
  >
    <span>
      <div class="imageLinkMenuWrapper" matRipple [matRippleCentered]="true">
        <img
          *ngIf="feedBackLinkMenu && feedBackLinkMenu.img"
          [src]="feedBackLinkMenu.img"
          style="margin-left: 2px; width: 30px; height: 21px;"
        />
      </div>
    </span>
  </app-menu>
  <app-menu
    [menu]="menuLang"
    [levelMenu]="0"
    (toggle)="onMenuToggle($event)"
    [isOpen]="openedIndexChild === menu.length"
    (opened)="onOpened(menu.length)"
    [showArrow]="false"
  >
    <span>
      <img
        *ngIf="menuLang && menuLang.img"
        [src]="menuLang.img"
        style="
          margin-right: 23px;
          margin-left: 2px;
          width: 30px;
          height: 21px;
        "
      />
    </span>
  </app-menu>
</div>
