:host {
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
}

:host(.activeChild) {
  box-shadow: none;
}

:host(.app-nav-dark) {
  background-color: transparent !important;
}

.internalizationIconDark:hover {
  border-color: #1e3556;
}

.internalizationIcon {
  border-radius: 200px;
  border: 3px solid transparent;
}

.NavMenu {
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;

  app-menu:first-child {
    ::ng-deep a {
      padding-left: 16px;
    }
  }

  app-menu:last-child {
    ::ng-deep a {
      padding-right: 16px;
    }
  }

  .button-menu-lang {
    height: 100%;
  }
}

@media (min-width: 768px) {
  :host {
    height: 100%;
    display: inline-block;
    background-color: transparent;
    box-shadow: none;
    margin-top: 0;
  }

  .NavMenu {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    app-menu:first-child {
      ::ng-deep a {
        padding-left: 16px;
      }
    }

    app-menu:last-child {
      ::ng-deep a {
        padding-right: initial;
      }
    }
  }
}

.darkModeToggler {
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;

  .hoverIcon {
    display: none;
  }

  &:hover {
    .hoverIcon {
      display: block;
    }
    .defaultIcon {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .NavMenu {
    height: 29px;
  }

  .internalizationIcon {
    height: 23px !important;
    width: 23px !important;
  }
}

::ng-deep .tooltip-darkmode-toggler {
  background-color: #31394d !important;
  color: #adccf7 !important;
  border-radius: 6px !important;
  display: none;
  @media (hover: hover) {
    display: block;
  }
}

::ng-deep .tooltip-white-mode-toggler {
  display: none;
  @media (hover: hover) {
    display: block;
  }
}
