:host {
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #e5e9f2;
  margin: 25px auto 0;
}

:host(.activeChild) {
  box-shadow: none;
}

.NavMenu {
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;

  app-menu:first-child {
    ::ng-deep a {
      padding-left: 16px;
    }
  }

  app-menu:last-child {
    ::ng-deep a {
      padding-right: 16px;
    }
  }

  .button-menu-lang {
    height: 100%;
  }
}

@media (min-width: 768px) {
  :host {
    height: 100%;
    display: inline-block;
    background-color: transparent;
    box-shadow: none;
    margin-top: 0;
  }

  .NavMenu {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    app-menu:first-child {
      ::ng-deep a {
        padding-left: 16px;
      }
    }

    app-menu:last-child {
      ::ng-deep a {
        padding-right: initial;
      }
    }
  }
}
