.container {
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  min-height: 62px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;

  .item-icon-yellow {
    border-right: 2px solid rgba(242, 201, 76, 0.5);
  }

  .item-icon-green {
    border-right: 2px solid #8cd5cd;
  }

  .item-icon-red {
    border-right: 2px solid rgba(251, 78, 78, 0.5);
  }

  &.container-yellow {
    border: 2px solid rgba(242, 201, 76, 0.5);
  }

  &.container-green {
    border: 2px solid #8cd5cd;
  }

  &.container-red {
    border: 2px solid rgba(251, 78, 78, 0.5);
  }
}

.container-dark {
  background: #202733;
  /* Positive dark */
  box-sizing: border-box;
  min-height: 62px;
  border-radius: 10px;
  // padding: 11px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;

  .item-icon-yellow {
    border-right: 2px solid #B5B12A;
  }

  .item-icon-green {
    border-right: 2px solid #1ab759;
  }

  .item-icon-red {
    border-right: 2px solid #FB4E4E;
  }

  &.container-yellow {
    border: 2px solid #B5B12A;
  }

  &.container-green {
    border: 2px solid #1ab759;
  }

  &.container-red {
    border: 2px solid #FB4E4E;
  }
}

.link{
    font-size: 20px;
}

.title {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.description {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.item-icon {
  width: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item-mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title-mobile {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

.description-mobile {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.closeNewButton{
  cursor: pointer;
}
