<ng-container *ngFor="let item of news; let i = index">
  <div
    *ngIf="!darkModeService.darkMode && !(isHandset$ | async)"
    class="container"
    [ngClass]="{
      'container-green': item.type === 'GREEN',
      'container-yellow': item.type === 'YELLOW',
      'container-red': item.type === 'RED',
      'container-blue': item.type === 'BLUE'
    
    }"
  >
    <div
      class="item-icon"
      [ngClass]="{
        'item-icon-green': item.type === 'GREEN',
        'item-icon-yellow': item.type === 'YELLOW',
        'item-icon-red': item.type === 'RED',
        'item-icon-blue': item.type === 'BLUE'
              
      }"
    >
      <img
        *ngIf="item.type === 'GREEN'"
        src="./assets/images/notification/circle-G.png"
      />
      <img
        *ngIf="item.type === 'RED'"
        src="./assets/images/notification/tip-R.png"
      />
      <img
        *ngIf="item.type === 'YELLOW'"
        src="./assets/images/notification/tip-Y.png"
      />
      <img
      *ngIf="item.type === 'BLUE'"
      src="./assets/images/notification/tip-B.png"
    />
    </div>

    <div class="item" style="width: 35%">
      <markdown
        [data]="item.title"
        class="item-title"
      ></markdown>
    </div>
    <div class="item" style="width: 50%">
      <markdown
        class="item-description"
        [data]="item.description"
      ></markdown>
    </div>
    <div class="newsLinkContainer" style="width: 10%">
      <a
        *ngIf="item.link"
        href="{{ item.link }}"
        class="newsLink"
        target="_blank"
        >Mip</a
      >
      <a
        *ngIf="item.linkforum"
        href="{{ item.linkforum }}"
        class="newsLink"
        target="_blank"
        >Forum link</a
      >
      <a
        *ngIf="item.linkmd"
        href="mips/md-viewer?mdUrl={{ item.linkmd }}"
        class="newsLink"
        target="_blank"
        >.md View</a
      >
    </div>

    <div class="icon closeNewButton" (click)="removeItem(i, item.id)">
      <img src="./assets/images/notification/close.png" />
    </div>
  </div>

  <div
    *ngIf="darkModeService.darkMode && (isHandset$ | async)"
    class="container-dark"
    style="flex-flow: wrap"
    [ngClass]="{
      'container-green': item.type === 'GREEN',
      'container-yellow': item.type === 'YELLOW',
      'container-red': item.type === 'RED',
      'container-blue': item.type === 'BLUE'
    }"
  >
    <div class="item-mobile">
      <div style="width: 5%">
        <img
          width="20"
          *ngIf="item.type === 'GREEN'"
          src="./assets/images/notification/circle-G.png"
        />
        <img
          width="20"
          *ngIf="item.type === 'RED'"
          src="./assets/images/notification/tip-R.png"
        />
        <img
          width="20"
          *ngIf="item.type === 'YELLOW'"
          src="./assets/images/notification/tip-dark.png"
        />
        <img
        width="20"
        *ngIf="item.type === 'BLUE'"
        src="./assets/images/notification/tip-B.png"
      />
      </div>
      <markdown
        [data]="item.title"
        class="title-mobile"
        style="width: 86%; text-align: center; margin-top: 5px"
      ></markdown>
      <div
        class="closeNewButton"
        style="width: 4%"
        (click)="removeItem(i, item.id)"
      >
        <img width="12" src="./assets/images/notification/close.png" />
      </div>
    </div>
    <div class="item-mobile">
      <markdown
        [data]="item.description"
        class="description-mobile"
        style="margin-top: 0px"
      ></markdown>
    </div>

    <div class="newsLinkContainerMovile" style="width: 100%">
      <a
        *ngIf="item.link"
        href="{{ item.link }}"
        class="newsLinkDark"
        target="_blank"
        >Mip</a
      >
      <a
        *ngIf="item.linkforum"
        href="{{ item.linkforum }}"
        class="newsLinkDark"
        target="_blank"
        >Forum link</a
      >
      <a
        *ngIf="item.linkmd"
        href="mips/md-viewer?mdUrl={{ item.linkmd }}"
        class="newsLinkDark"
        target="_blank"
        >.md View</a
      >
    </div>
  </div>

  <div
    *ngIf="!darkModeService.darkMode && (isHandset$ | async)"
    class="container"
    style="flex-flow: wrap"
    [ngClass]="{
      'container-green': item.type === 'GREEN',
      'container-yellow': item.type === 'YELLOW',
      'container-red': item.type === 'RED',
      'container-blue': item.type === 'BLUE'
    }"
  >
    <div class="item-mobile">
      <div style="width: 5%">
        <img
          width="20"
          *ngIf="item.type === 'GREEN'"
          src="./assets/images/notification/circle-G.png"
        />
        <img
          width="20"
          *ngIf="item.type === 'RED'"
          src="./assets/images/notification/tip-R.png"
        />
        <img
          width="20"
          *ngIf="item.type === 'YELLOW'"
          src="./assets/images/notification/tip-dark.png"
        />
        <img
        width="20"
        *ngIf="item.type === 'BLUE'"
        src="./assets/images/notification/tip-B.png"
      />
      </div>

      <markdown
        [data]="item.title"
        style="width: 86%; text-align: center; margin-top: 5px"
        class="title-mobile"
      ></markdown>

      <div
        class="closeNewButton"
        style="width: 4%"
        (click)="removeItem(i, item.id)"
      >
        <img width="12" src="./assets/images/notification/close.png" />
      </div>
    </div>

    <div class="item-mobile">
      <markdown
        [data]="item.description"
        class="description-mobile"
        style="margin-top: 0px"
      ></markdown>
    </div>
    <div class="newsLinkContainerMovile" style="width: 100%">
      <a
        *ngIf="item.link"
        href="{{ item.link }}"
        class="newsLink"
        target="_blank"
        >Mip</a
      >
      <a
        *ngIf="item.linkforum"
        href="{{ item.linkforum }}"
        class="newsLink"
        target="_blank"
        >Forum link</a
      >
      <a
        *ngIf="item.linkmd"
        href="mips/md-viewer?mdUrl={{ item.linkmd }}"
        class="newsLink"
        target="_blank"
        >.md View</a
      >
    </div>
  </div>

  <div
    *ngIf="darkModeService.darkMode && !(isHandset$ | async)"
    class="container-dark"
    [ngClass]="{
      'container-green': item.type === 'GREEN',
      'container-yellow': item.type === 'YELLOW',
      'container-red': item.type === 'RED',
      'container-blue': item.type === 'BLUE'
    }"
  >
    <div
      class="item-icon"
      [ngClass]="{
        'item-icon-green': item.type === 'GREEN',
        'item-icon-yellow': item.type === 'YELLOW',
        'item-icon-red': item.type === 'RED',
        'item-icon-blue': item.type === 'BLUE'
      }"
    >
      <img
        *ngIf="item.type === 'GREEN'"
        src="./assets/images/notification/circle-G.png"
      />
      <img
        *ngIf="item.type === 'RED'"
        src="./assets/images/notification/tip-R.png"
      />
      <img
        *ngIf="item.type === 'YELLOW'"
        src="./assets/images/notification/tip-dark.png"
      />
      <img
      *ngIf="item.type === 'BLUE'"
      src="./assets/images/notification/tip-B.png"
    />
    </div>

    <div class="item" style="width: 25%">
      <markdown
        [data]="item.title"
        class="item-title"
      ></markdown>
    </div>

    <div style="width: 50%" class="itemDark">
      <markdown
        [data]="item.description"
        class="item-description"
      ></markdown>
    </div>

    <div class="newsLinkContainer" style="width: 25%">
      <a
        *ngIf="item.link"
        href="{{ item.link }}"
        class="newsLinkDark"
        target="_blank"
        >Mip</a
      >
      <a
        *ngIf="item.linkforum"
        href="{{ item.linkforum }}"
        class="newsLinkDark"
        target="_blank"
        >Forum link</a
      >
      <a
        *ngIf="item.linkmd"
        href="mips/md-viewer?mdUrl={{ item.linkmd }}"
        class="newsLinkDark"
        target="_blank"
        >.md View</a
      >
    </div>

    <div class="icon closeNewButton" (click)="removeItem(i, item.id)">
      <img src="./assets/images/notification/close.png" />
    </div>
  </div>
</ng-container>

<div style="margin-bottom: 39px"></div>
