.logo {
  cursor: pointer;
}
.frame {
  background: #2F80ED;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  mat-icon {
    color: #FFFFFF;
    margin-top: 13px;
  }
}
.container {
  background: #FFFFFF;
  box-shadow: 0px 30px 60px #E5E9F2;
  border-radius: 5px;
  width: 359px;
  height: 413px;
  padding: 20px 30px 5px;
  position: absolute;
  transform: translate(-367px, -441px);
  z-index: 6;

  img {
    margin-left: -5px;
  }

  input, textarea {
    width: 100%;
    text-indent:5px;
    border: 1px solid #EBEDF4;
    border-radius: 4px;
    &::placeholder {
      color: #BCBEC7;
      font-size: 12px;
    }
  }

  input {
    margin-top: 25px;
    height: 21px;
  }

  textarea {
    margin-top: 20px;
    height: 201px;
    resize: none;
  }

  .buttons {
    margin-top: 26px;
    display: flex;
    justify-content: flex-end;

    .btn {
      background-color: #FFFFFF;
      border-radius: 4px;
      border: none;
      margin-left: 15px;
      font-weight: bold;
      cursor: pointer;
      font-size: 12px;
      font-family: Roboto;
      width: 63px;
      height: 27px;

      &.reset {
        box-shadow: 0px 30px 60px #E5E9F2;
        color: #31394D;
        border: 1px solid #31394D;

      }

      &.apply  {
        background-color: #2F80ED;
        border: 1px solid #2F80ED;
        box-sizing: border-box;
        color: #FFFFFF;
        &:disabled {
          cursor: not-allowed;
          background-color: #BCBEC7;
          border: 1px solid #BCBEC7;
        }
      }
    }
  }

}

@media screen and (max-width: 500px) {
  .container {
    width: 273px;
    margin: 10px;
    transform: translate(-294px, -441px);
  }
}
