table {
  width: 100%;
  background-color: #ffffff;
  padding-right: 20px;
}

mat-paginator {
  margin-bottom: 40px;
}

div.space-status {
  height: 15px;
}
div.space-arrow {
  height: 22px;
}

//---------------Expand oficial
tr.maker-detail-row {
  height: 0;
  // margin-top: 120px;
  vertical-align: top;
}

tr.maker-detail-subset-row {
  height: 0;
  // margin-top: 120px;
  vertical-align: top;

  td {
    padding-left: 0px !important;
    padding-right: 0px;
  }
}

tr.maker-element-row:not(.maker-expanded-row):active {
  background: #efefef;
}

.maker-element-row td {
 font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #31394d;
  margin-left: 15px;
  vertical-align: top;

  &.subproposal-title {
    padding-left: 15px;

    a {
      color: #2f80ed;
    }
  }
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  app-asc-des {
    margin-left: 6px;
  }
}

.maker-element-detail {
  overflow: hidden;
  display: flex;
}

.maker-element-subset-detail {
  overflow: hidden;
  display: flex;
  padding-left: 0;
}

.maker-element-subsetchildren-detail {
  overflow: hidden;
  display: flex;
}

.maker-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.maker-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.maker-element-description {
  padding: 16px;
}

.maker-element-description-attribution {
  opacity: 0.5;
}

th {
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  color: #748aa1;

  &:hover {
    .headerContent {
      color: #31394d;
    }

  }
}

.up {
  transform: translate(4px, -5px);
}

.down {
  transform: translate(-3px, 2px);
}

.expanded {
  margin-left: 15px;
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  -o-transition: 500ms ease all;
  transition: 500ms ease all;
  float: right;
  vertical-align: middle;
}

.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.arrow {
  cursor: pointer;
}

.mat-column-title {
  padding-right: 80px;
  max-width: 30px;
  width: 26%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  float: left;
  font-weight: normal;
}

.mat-column-summary {
  max-width: 150px;
  padding-right: 30px;
  width: 50%;
}

.mat-column-status {
  width: 17%;
  max-width: 20px;
  padding-right: 30px;
}

.mat-column-expandedDetail {
  padding: 0 !important;
}

.mat-column-pos {
  width: 7%;
  max-width: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: 1440px) {
    width: 5.5%;
  }
}

.mat-column-link {
  width: 5%;
  // max-width: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//---------------End Expand oficial

//----- test

/* Structure */
.maker-container {
  min-height: 50vh;
  position: relative;
  box-shadow: 0px 1px 4px #e5e9f2;
}

.maker-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.maker-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maker-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 149px;
  color: #748aa1;
  font-size: 14px;

  text-align: center;
  background: #ffffff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  transform: translateY(15px);
  left: 260px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-result {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px #e5e9f2;
  border-radius: 5px;
  color: #748aa1;
  font-weight: 500;
  font-size: 26px;
  padding: 176px 0 275px;
  margin-bottom: 40px;
  margin-top: 15px;
  p {
    margin-top: 30px;
  }
}
a {
  text-decoration: none;
  color: #31394d;
}

.loading-plus {
  text-align: center;
  mat-spinner {
    margin: 0 auto;
  }
}

.paragraphSummary {
  max-width: 95%;
  float: left;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}

.mobile-container {
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 4px #e5e9f2;
  border-radius: 5px;
  height: auto;
  margin-bottom: 15px;
  box-sizing: border-box;
  position: relative;

  .title {
    font-size: 14px;
    font-weight: 500;
    color: #31394d;
  }

  .subproposalsButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .status {
    margin-top: 5px;
  }
  .content {
    font-weight: normal;
    font-size: 12px;
    color: #31394d;
    margin-top: 20px;
  }
  .more {
    cursor: pointer;
    margin-top: 14px;
    font-weight: bold;
    font-size: 12px;
    color: #748aa1;
    float: left;
    min-width: fit-content;
    padding: 0;
    min-height: 15px;
    line-height: normal;

    img {
      margin-right: 8px;
    }
  }

  app-social {
    float: right;
    margin-top: 14px;
  }
}

.mobile {
  display: none;
}

.load-more {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: #748aa1;
  margin-top: 35px;
}

:host::ng-deep.variable-binding {
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-top: 40px;
  }

  pre {
    padding: 16px;
    background: #f5f6fa;
    border: 1px solid #f5f6fa;
    box-shadow: 0px 1px 4px #e5e9f2;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #31394d;
    width: auto;
    overflow-x: scroll;
    overflow-wrap: break-word;
  }

  code {
    width: 100%;
  }

  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #2f80ed;
    text-decoration: none;
  }

  p,
  ul {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #31394d;
    margin: 0;
  }

  hr {
    background-color: #ebedf4;
    height: 1px;
    border: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  h3 {
    margin-top: 40px;
  }
}

::ng-deep.variable-binding-summary {
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

::ng-deep.variable-binding-content {
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-top: 40px;
  }

  pre {
    padding: 16px;
    background: #f5f6fa;
    border: 1px solid #f5f6fa;
    box-shadow: 0px 1px 4px #e5e9f2;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #31394d;
    width: auto;
    overflow-x: scroll;
    overflow-wrap: break-word;
  }

  code {
    width: 100%;
  }

  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #2f80ed;
    text-decoration: none;
  }

  p,
  ul {
    font-style: normal;
    font-weight: normal;
    margin: 0;
    font-size: 12px;
    color: #31394d;
    margin-top: 20px;
  }

  hr {
    background-color: #ebedf4;
    height: 1px;
    border: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  h3 {
    margin-top: 40px;
  }
}

.proposal-card {
  width: 100%;
}

.subproposal-card {
  width: 86.05%;
  color: #2f80ed;
  margin-right: 0;
  margin-left: auto;

  .title a {
    color: #2f80ed;
  }
}

.subproposal-card-subset {
  width: 91.05%;
  color: #1aab9b;
  margin-right: 0;
  margin-left: auto;

  .title {
    color: #1aab9b;
  }
}

.arrow-container {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 30px;
  cursor: pointer;
  top: 24px;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;

  .arrow-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .arrow {
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }

  .expanded {
    margin-left: 15px;
    -webkit-transition: 500ms ease all;
    -moz-transition: 500ms ease all;
    -o-transition: 500ms ease all;
    transition: 500ms ease all;
    float: right;
    vertical-align: middle;
  }

  .rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

::ng-deep.mat-tooltip {
  color: white;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(26, 171, 155, 0.9);
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
}

.subsetColumn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1aab9b;
}

// :host::ng-deep {
//   td.mat-cell {
//     border-bottom-color: #1aab9b;
//   }
// }

:host::ng-deep.subset-table tr:not(.maker-element-subset-row) {
  td.mat-cell {
    border-bottom: none;
  }
}

.subsetColumn {
  color: #1aab9b;
}

@media screen and (max-width: 768px) {
  .mobile {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
  }
  .no-mobile {
    display: none;
  }

  ::ng-deep.sentenceSummaryMobile {
    p {
      font-style: normal;
      font-weight: normal;
      margin: 0;
      font-size: 12px;
      color: #31394d;
      margin-top: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

tr.example-expanded-row {
  border-bottom: 1px solid #1aab9b;
  display: block;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

tr.maker-element-subsetchildren-row {
  border-bottom: 0px solid #ebedf4;
  display: block;

  td {
    border-bottom: none;
  }
}

.maker-element-subset-row td {
  border-bottom-width: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #1aab9b;
  // margin-left: 15px;
  vertical-align: top;
  // margin-top: 120px;
}

.maker-element-subsetchildren-row td {
  border-bottom-width: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #1aab9b;
  // margin-left: 15px;
  vertical-align: top;
  // margin-top: 120px;

  &.subproposal-title {
    padding-left: 15px;

    a {
      color: #2f80ed;
    }
  }
}

.maker-element-subsetchildren-row {
  .mat-column-title {
    padding-right: 80px;
    max-width: 30px;
    width: 23.7%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mat-column-summary {
    max-width: 150px;
    padding-right: 30px;
    width: 46.5%;
  }

  .mat-column-status {
    width: 15.5%;
    max-width: 20px;
    padding-right: 30px;
  }

  .mat-column-link {
    width: 3%;
    // max-width: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

tr.maker-element-subsetchildren-row:not(.maker-expanded-row):hover {
  background: whitesmoke;
}

.expandedSubset {
  height: fit-content;
  transition: all 1.3s ease-in-out;
}

.shrinkedSubset {
  height: 0;
  overflow: hidden;
}

table.mat-table.subset-table {
  border-spacing: unset !important;
}
