<table
  mat-table
  [dataSource]="dataSourceSubsetRows"
  multiTemplateDataRows
  class="subset-table"
>
  <ng-container
    matColumnDef="{{ column }}"
    *ngFor="let column of columnsToDisplaySubset"
  >
    <span *ngIf="column == 'subset'" class="subsetColumnWrapper">
      <td
        class="tooltip subsetColumn"
        mat-cell
        *matCellDef="let element"
        style="cursor: pointer; position: relative;"
      >
        <div (click)="onClickButtonCaptureEvent($event)">
          <button
            mat-icon-button
            class="arrow-container"
            [disabled]="element.loadingSubproposals"
            (click)="element.expanded = !element.expanded"
            (mouseover)="onMouseOverLeaveSubsetArrow(element.subset, true)"
            (mouseleave)="onMouseOverLeaveSubsetArrow(element.subset, false)"
            style="right: 0; position: relative;"
          >
            <div
              class="arrow-wrapper expanded"
              [ngClass]="{
                rotate: element.expanded
              }"
            >
              <svg
                width="7"
                height="5"
                viewBox="0 0 7 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="arrow"
              >
                <path
                  d="M3.91278 4.79436C3.70724 5.06854 3.29276 5.06854 3.08722 4.79436L0.102225 0.812461C-0.149574 0.476568 0.0925517 -6.03868e-07 0.515005 -5.66936e-07L6.485 -4.50231e-08C6.90745 -8.09104e-09 7.14957 0.476568 6.89778 0.812461L3.91278 4.79436Z"
                  fill="#1aab9b"
                />
              </svg>
            </div>
          </button>
        </div>
        {{ element[column] + ": " + element.title }}
      </td>
    </span>
  </ng-container>

  <!-- Expanded Content Column -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplaySubset.length"
    >
      <div
        class="maker-element-subsetchildren-detail"
        [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'"
      >
        <ng-container *ngIf="element.expanded">
          <app-list-subproposal
            [darkMode]="darkMode"
            [dataSource]="subproposalsGroup[element.subset]"
          ></app-list-subproposal>
        </ng-container>
      </div>
    </td>
  </ng-container>

  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplaySubset"
    class="maker-element-subset-row"
    [class.example-expanded-row]="element.expanded"
    (click)="element.expanded = !element.expanded"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="maker-detail-subset-row"
  ></tr>
</table>
