<div class="row">
  <div style="position: relative;">
    <img class="search-icon" src="{{imageDir}}" />
    <input type="text" #search placeholder="{{placeHolder}}" (keyup)="onKeySearch($event)"
      [ngStyle]="{borderRadius: showListSearch ? '5px 5px 0 0' : '5px'}">
    <div *ngIf="showListSearch" class="ListSearchWrapper">
      <div class="ListSearch">
        <div *ngFor="let item of listSearchItems" class="list-search-item">
          <p>{{item.title}}</p>
          <img class="arrow-go-to" src="../../../../../assets/images//arrow_go_to.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="close-container">
    <img (click)="clear()" *ngIf="showClose" src="{{imageClose}}" class="imageClose" />
  </div>
</div>
