
img.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 16px;
}


input {
  text-indent:36px;
  border: none;
  width: 336px;
  height: 38px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #E5E9F2;
  color: #31394D;
  font-size: 14px;
  font-weight: 500;
  &::placeholder {
    color: #D2D3D9;
    font-size: 14px;
    font-weight: 400;
  }
}
.close-container {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;

  .imageClose {
    cursor: pointer;
  }
}

.help-container {
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px #E5E9F2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 11px;
  cursor: pointer;
}

.row {
  display: flex;
  flex: row;
  position: relative;
}

*:focus {
  outline: none;
}

.ListSearchWrapper {
  position: relative;
}

.ListSearch {
  width: 340px;
  background-color: #fff;
  box-shadow: 0px 1px 4px #E5E9F2;
  z-index: 100;
  position: absolute;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #B8C5D3;
  overflow-y: auto;
  max-height: 225px;
  height: fit-content;
}

.list-search-item {
  height: 45px;
  padding: 14px;
  box-sizing: border-box;
  border-top: 1px solid #EBEDF4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: whitesmoke;
  }

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2F80ED;
    margin: 0;
    max-width: 272px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img.arrow-go-to {
    width: 12px;
    position: static;
  }

}

/* scrollbar width */
::-webkit-scrollbar {
  width: 3px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
  background: #EBEDF4;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #B8C5D3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #748AA1;
}

:host {
  z-index: 100;
  // position: relative;
}
