<div class="row">
  <div style="position: relative">
    <img class="search-icon" src="{{ imageDir }}" />
    <!-- <input
      type="text"
      #search
      placeholder="{{ placeHolder }}"
      (keyup)="onKeySearch($event)"
      [ngStyle]="{ borderRadius: showListSearch ? '5px 5px 0 0' : '5px' }"
      [value]="value"
      [ngClass]="{ error: error }"
      [appAutocomplete]="autocomplete"
      [formControl]="control"
    /> -->

    <div
      class="textBoxWrapper"
      [ngStyle]="{ borderRadius: showListSearch ? '5px 5px 0 0' : '5px' }"
      [ngClass]="{
        error: error,
        'textBoxWrapper-dark': darkMode
      }"
      #textBoxWrapper
    >
      <div
        class="contentEditableInput"
        [ngClass]="{ 'contentEditableInput-dark': darkMode }"
        type="text"
        #search
        (keyup)="onKeySearch($event)"
        [appAutocomplete]="autocomplete"
        [formControl]="control"
        contenteditable
        placeholder=""
        [appFormattingMd]="format"
        [activate]="isQueryMode"
      ></div>
    </div>
    <ng-template #mipsSugestions>
      <div
        class="ListSearch"
        [ngClass]="{
          'ListSearch-dark': darkMode,
          'ListSearch-not-Display': notShowTable
        }"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="1"
        [scrollWindow]="false"
        (scrolled)="onLoadMoreMipSugestions()"
      >
        <div
          *ngFor="let item of listSearchItems"
          class="list-search-item"
          (click)="onClickSearchItem(item)"
        >
          <p>{{ item.content }}</p>
          <img
            class="arrow-go-to"
            src="../../../../../assets/images/arrow_go_to.svg"
          />
        </div>
        <div
          *ngIf="loadingMipsSuggestions"
          class="list-search-item"
          style="justify-content: center"
        >
          <mat-spinner [diameter]="20"></mat-spinner>
        </div>
      </div>
    </ng-template>
  </div>
  <div *ngIf="showClose && !isQueryMode || error" class="close-container">
    <img (click)="clear()" src="{{ imageClose }}" class="imageClose" />
  </div>
  <div
    class="help-popup-wrapper"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    (click)="openHelpPopup()"
    [ngStyle]="{ visibility: !showClose ? 'visible' : 'hidden' }"
  >
    <a
      class="help-container"
      type="button"
      [ngClass]="{
        'help-container-dark': darkMode,
        'help-open': isOpenHelpPopup,
        'ListSearch-not-Display':error
      }"
    >
      <img
        [src]="
          isOpenHelpPopup
            ? helpIconBlue
            : darkMode
            ? helpIconDark
            : helpIconGray
        "
        class="imageHelp"
      />
    </a>
  </div>
  <div *ngIf="error" class="invalid">{{ errorMessage }}</div>
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpenHelpPopup"
  [cdkConnectedOverlayPanelClass]="'panelClass'"
  [cdkConnectedOverlayPositions]="positionHelpPopup"
  (overlayOutsideClick)="onClickOutside($event)"
>
  <div
    class="help-popup"
    @enterLeaveSmooth
    [ngClass]="{ 'help-popup-dark': darkMode }"
  >
    <div class="head-help-popup">
      <span>You can use:</span>
    </div>
    <div class="info-help-popup">
      <span class="dark"><b>$</b></span
      ><span class="grey"><b>: </b><i>to start query sentence</i></span>
    </div>
    <div class="info-help-popup">
      <span class="dark"><b>OR</b></span
      ><span class="grey"><b>: OR</b>(A, B, ...)</span>
    </div>
    <div class="info-help-popup">
      <span class="dark"><b>AND</b></span
      ><span class="grey"><b>: AND</b>(A, B, ...)</span>
    </div>
    <div class="info-help-popup">
      <span class="dark"><b>NOT</b></span
      ><span class="grey"><b>: NOT</b>(A)</span>
    </div>
    <div class="info-help-popup">
      <span class="dark"><b>#</b></span
      ><span class="grey">: #tag</span>
    </div>
    <div class="info-help-popup">
      <span class="dark"><b>@</b></span
      ><span class="grey">: @STATUS</span>
    </div>
    <div class="hr"></div>
  </div>
</ng-template>

<app-autocomplete
  #autocomplete="appAutocomplete"
  [labels]="['@', '#']"
  (enter)="selectedAutocompleteOptionByEnter = true"
  (activatedLabel)="isQueryMode ? searchAutocompleteOptions($event) : null"
  (closedOptions)="onClosedOptionsAutocomplete()"
>
  <ng-template appAutocompleteContent>
    <app-option-autocomplete
      *ngFor="let option of options"
      [value]="option.label"
      [ngStyle]="getAutocompleteOptionStyle(option.label)"
    >
      {{ option.label }}
    </app-option-autocomplete>
  </ng-template>
</app-autocomplete>
