:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

@media (min-width: 768px) {
  :host {
    height: fit-content;
  }

  img {
    height: 100%;
    width: 100%;
    margin-bottom: -40px;
  }
}
