<div class="container">
  <div class="row space">
    <ul class="links">
      <li>
        <a routerLink="" (click)="clearFilterAndGoHome()">ALL MIPs </a>
      </li>
      <li *ngFor="let item of breadcrumbList; let index = index">
        <a [routerLink]="['/mips/details/' + item.id]"
          [ngClass]="{'active': isLastItem(index)}">{{item.name}}</a>
      </li>
    </ul>
    <div class="items">
      <strong>{{mipPosition + 1}}  </strong>
      <span> of {{total}} items </span>
      <span class="frame" (click)="minus()"><img src="../../../../../assets/images/left.svg" /></span>
      <span class="frame" (click)="loadMipsData()"><img src="../../../../../assets/images/right.svg" /></span>
    </div>
  </div>
</div>
