
.container {
  height: 46px;
  background: #FFFFFF;
  opacity: 0.5;
  box-shadow: 0px 1px 4px #E5E9F2;
  border-radius: 5px;
  color: #748AA1;
  padding: 0 11px 0 30px;
  margin-bottom: 10px;
  z-index: 0;
  display: flex;
  align-items: center;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    strong {
      color: #31394D;
    }
    .links {
      font-size: 14px;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        &+li::before {
          padding: 4px;
          content: "/\00a0";
        }

        a {
          text-decoration: none;
          color: #748AA1;

          &.active {
            color: #31394D;
            font-weight: bold;
          }
        }
      }
    }
    .items {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      .frame {
        padding: 0.5px;
        cursor: pointer;
        img {
          margin: 0 10px;
          transform: translateY(2px);
        }
      }
    }
  }

  .space {
    // padding-top: 14px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 11px 0 20px;
    margin-bottom: 13px;
  }
}
