<div class="wrapper">

<div class="container" [ngClass]="{'container-dark':darkMode}">
  <div class="row space">
    <ul class="links">
      <li>
        <a routerLink="" (click)="clearFilterAndGoHome()">ALL MIPs </a>
      </li>
      <li *ngFor="let item of breadcrumbList; let index = index">
        <a
          [routerLink]="['/mips/details/' + item.id]"
          [ngClass]="{ active: isLastItem(index) }"
          >{{ item.name }}</a
        >
      </li>
    </ul>
    <div class="items">
      <strong>{{ mipPosition + 1 }} </strong>
      <span style="margin-right: 5px">&nbsp; {{'of' | translate}} {{ total }} <span class="itemsWord">{{'items' | translate}}</span> </span>
      <button
        class="arrowWrapper"
        matRipple
        [matRippleCentered]="true"
        (click)="minus()"
        matTooltip="Previous"
        [disabled]="mipPosition <= 0"
      >
        <span class="frame"
          ><img src="../../../../../assets/images/left.svg"
        /></span>
      </button>
      <button
        class="arrowWrapper"
        matRipple
        [matRippleCentered]="true"
        (click)="loadMipsData()"
        matTooltip="Next"
        [disabled]="mipPosition >= total - 1"
      >
        <span class="frame"
          ><img src="../../../../../assets/images/right.svg"
        /></span>
      </button>
    </div>
  </div>
</div>

<app-details-mobiles-buttons *ngIf="sections" [darkMode]="darkMode" class="mobileIndex" [sourceData]="sections" [mip]="mip"></app-details-mobiles-buttons>
</div>