<div class="container">
  <div class="row space">
    <ul class="links">
      <li>
        <a routerLink="" (click)="clearFilterAndGoHome()">ALL MIPs </a>
      </li>
      <li *ngFor="let item of breadcrumbList; let index = index">
        <a
          [routerLink]="['/mips/details/' + item.id]"
          [ngClass]="{ active: isLastItem(index) }"
          >{{ item.name }}</a
        >
      </li>
    </ul>
    <div class="items">
      <strong>{{ mipPosition + 1 }} </strong>
      <span style="margin-right: 5px;">&nbsp; of {{ total }} items </span>
      <div class="arrowWrapper" matRipple [matRippleCentered]="true" (click)="minus()">
        <span class="frame"
          ><img src="../../../../../assets/images/left.svg"
        /></span>
      </div>
      <div class="arrowWrapper" matRipple [matRippleCentered]="true" (click)="loadMipsData()">
        <span class="frame"
          ><img src="../../../../../assets/images/right.svg"
        /></span>
      </div>
    </div>
  </div>
</div>
