:host {
  position: relative;
  box-shadow: 0 1px 4px #e5e9f2;
  background-color: #fff;
  border-radius: 5px;
}

:host(.spread) {
  width: -webkit-fill-available;

  .container {
    width: 100%;
    direction: ltr;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 28px;
  width: 28px;
  box-shadow: 0 1px 4px #e5e9f2;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: none;
  background-color: transparent;

  .main {
    // min-width: 39px;
    // min-height: 39px;
  }
}

  input {
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    float: left;
    width: 100%;
    height: 28px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px #E5E9F2;
    color: #31394D;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;

    &::placeholder {
      color: #D2D3D9;
      font-size: 14px;
      font-weight: 400;
    }
  }

  img {
    cursor: pointer;
  }


*:focus {
  outline: none;
}

.close-container {
  height: 100%;
  width: 30px;
  position: absolute;
  right: 0;

  .imageClose {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

.help-popup-wrapper {
  height: fit-content;
  width: fit-content;
  padding: 6px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 11px;
  cursor: pointer;
}

.help-container {
  width: 18px;
  height: 18px;
  background: #ffffff;
  box-shadow: 0px 1px 4px #e5e9f2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.init {
  width: 0;
  height: 0;
  position: absolute;
  left: 8px;
  top: 50%;

  img {
    width: 17px;
    height: 17px;
    transform: translateY(-50%);
  }
}

.ListSearchWrapper {
  position: relative;
}

.ListSearch {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 4px #E5E9F2;
  z-index: 100;
  position: absolute;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #B8C5D3;
  overflow-y: auto;
  max-height: 225px;
  height: fit-content;
}

.list-search-item {
  height: 45px;
  padding: 14px;
  box-sizing: border-box;
  border-top: 1px solid #EBEDF4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2F80ED;
    margin: 0;
    max-width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img.arrow-go-to {
    width: 12px;
    position: static;
  }

}

/* scrollbar width */
::-webkit-scrollbar {
  width: 3px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
  background: #EBEDF4;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #B8C5D3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #748AA1;
}

:host {
  // z-index: 100;
  // position: relative;
}

.help-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px 20px;
  background: #ffffff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  animation: fadeInHelpPopup 0.2s;

  .head-help-popup {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2f80ed;
    margin-bottom: 10px;
  }

  .info-help-popup {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: 15px;
  }
}

.grey {
  color: #748aa1;
}

.dark {
  color: #31394d;
}

.hr {
  height: 1px;
  background-color: #ebedf4;
  border: none;
  width: 100%;
  margin-top: 25px;
}

.error {
  border: 1px solid #dc3545 !important;
}

.invalid {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: #dc3545;
}

@keyframes fadeInHelpPopup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textBoxWrapper {
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  width: 100%;
  height: 28px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #E5E9F2;
  color: #31394D;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #e5e9f2;
  color: #31394d;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  white-space: nowrap;
  display: flex;
  align-items: center;
  cursor: text;

  .contentEditableInput {
    box-sizing: border-box;
    color: #31394d;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;

    &:empty::before {
      content: attr(placeholder);
      color: #d2d3d9;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.placeholder {
  &::before {
    content: "Placeholder";
    color: #d2d3d9;
    font-size: 14px;
    font-weight: 400;
  }
}

/* scrollbar width */
.contentEditableInput::-webkit-scrollbar {
  height: 0;
}

/* scrollbar width */
:host::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.expandInput {
  width: 100%;
  opacity: 1;
}

.shrinkInput {
  width: 0;
  padding: 0;
  opacity: 0;
}
