
  input {
    transform: translate(-202px, 46px);
    text-indent:6px;
    border: none;
    width: 200px;
    height: 38px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px #E5E9F2;
    color: #31394D;
    font-size: 14px;
    font-weight: 400;  
    position: absolute;
    z-index: 10;
    &::placeholder {
      color: #D2D3D9;
      font-size: 14px;
      font-weight: 400;
    } 
  }

  img {
    cursor: pointer;
  }


*:focus {
  outline: none;
}

.close-container { 
  width: 10px;
  height: 10px;  
  .imageClose {
    transform: translate(5px, 20px);
    position: absolute;
    z-index: 11;
  }
  
}