:host {
  position: relative;
  height: fit-content;
  display: block;

  .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0 0 2px 0;
    position: relative;
  }

  .expandToggle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #1aab9b;
    position: absolute;
    bottom: 17.5px;
    right: 16px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;

    &:hover {
      background: rgba(184, 197, 222, 0.2);
      transition: background-color 0.2s;
    }

    .arrowIcon {
      margin-left: 6px;
      transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  .rotate {
    transform: rotate(180deg);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .expIcon {
    position: absolute;
    right: 12px;
    top: 22px;
    width: 23px;
    height: 22px;
    cursor: pointer;
  }

  .active {
    path,
    rect {
      fill: rgba(26, 171, 155, 0.7);
      stroke: rgba(26, 171, 155, 0.7);
    }
  }

  .link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #2f80ed;
    display: block;
    margin-top: 16px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(188, 190, 199, 0.3);

    img {
      margin-right: 9px;
    }

    &:hover {
      text-decoration: underline;
    }

    ul {
      margin: 0;
      padding-left: 20px;

      li {
        list-style-image: url("/assets/images/subproposal_icon.svg");
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: #2f80ed;
        cursor: pointer;
      }
    }
  }

  .topSubproposal {
    height: 9px;
  }
}

mat-expansion-panel {
  background: rgba(26, 171, 155, 0.05) !important;
  border-radius: 5px !important;
  padding: 16px 16px 0 22px;
  box-shadow: none !important;
  border-bottom: 60px solid transparent;
}

mat-expansion-panel-header {
  padding: 0;
  background: none !important;

  &:hover {
    background: none !important;
  }
}

:host::ng-deep.mat-expansion-panel-body {
  padding: 0 !important;
}

mat-panel-title {
  flex-direction: column;
  margin-right: 0;
}

app-status {
  min-width: 150px;
  margin: 8px 0 15px 0;
}

:host::ng-deep {
  app-status {
    .status-container {
      font-size: 10px;
    }
  }
}

@media (min-width: 768px) {
  :host {
    .link {
      padding-bottom: 5px;
      flex-direction: row;
    }

    .expandToggle {
      left: 22px;
      right: unset;
    }
  }

  app-status {
    margin: 0 0 0 10px;
  }
}
