:host {
  width: 359px;
  height: fit-content;

  .dialogHead {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 31.55px;
    }

    .headTextFeedback {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #748aa1;
      margin-left: 11.45px;
    }
  }

  .feedbackFormDark {
    input,
    textarea {
      border: 1px solid #202733;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: #0e1521 !important;
      color: #748aa1 !important;

      &:focus-visible {
        outline: none !important;
        box-shadow: none !important;
        border: 1px solid #505f7c !important;
      }

      &::placeholder {
        color: #31394d;
        font-size: 12px;
      }
    }

    .buttons .btn {
      color: #505f7c;

      &.reset {
        background-color: #0e1521;
        border: 1px solid #505f7c;
      }

      &.apply {
        background-color: #2f80ed;
        border: 1px solid #2f80ed;
        box-sizing: border-box;
        color: #ffffff;

        &:disabled {
          cursor: not-allowed;
          color: #505f7c;
          background-color: #31394d;
          border: 1px solid #31394d;
        }
      }
    }
  }

  input,
  textarea {
    width: 100%;
    border: 1px solid #ebedf4;
    border-radius: 4px;
    padding: 4px 6px;
    box-sizing: border-box;
    &::placeholder {
      color: #bcbec7;
      font-size: 12px;
    }
  }

  input {
    margin-top: 30px;
    height: 21px;
  }

  textarea {
    margin-top: 20px;
    height: 201px;
    resize: none;
  }

  .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;

    .btn {
      background-color: #ffffff;
      border-radius: 4px;
      border: none;
      margin-left: 15px;
      cursor: pointer;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      width: 63px;
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.reset {
        color: #31394d;
        border: 1px solid #748aa1;
      }

      &.apply {
        background-color: #2f80ed;
        border: 1px solid #2f80ed;
        box-sizing: border-box;
        color: #ffffff;
        &:disabled {
          cursor: not-allowed;
          background-color: #bcbec7;
          border: 1px solid #bcbec7;
        }
      }
    }
  }
}
