:host {
  font-style: normal;
  font-weight: 500;
}

.container {
  background: #ffffff;
  box-shadow: 0px 1px 4px #e5e9f2;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 10px;

  &.container-dark {
    background-color: #31394d !important;
    color: #adccf7 !important;
    box-shadow: none !important;

    .title,
    .titleLevelOne,
    .sub-title {
      color: #b8c5d3 !important;

      &.active {
        color: white !important;
      }
    }

    .content {
      p.header {
        color: #5c99f0;
      }
    }
  }

  .content {
    padding: 30px;
    p {
      &.header {
        font-size: 16px;
        line-height: 19px;
        color: #000000;
      }

      a {
        display: flex;
        align-items: center;
        -webkit-tap-highlight-color: transparent;

        &.titleLevelOne {
          color: #748aa1;
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          margin-top: 20px;
          text-decoration: none;
        }

        &.title {
          color: #748aa1;
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          margin-left: 10px;
          margin-top: 20px;
          text-decoration: none;
        }
        &.sub-title {
          font-size: 12px;
          color: #748aa1;
          font-weight: 300;
          margin-left: 20px;
          cursor: pointer;
          margin-top: 20px;
          text-decoration: none;
        }
        &.active {
          color: #31394d;

          &::before {
            content: "";
            width: 5px;
            background-color: #31394d;
            position: absolute;
            display: block;
            left: 0px;
            height: 14px;
          }
        }
      }
    }
  }

  .marker {
    width: 35px;
    height: 14px;
    background: #31394d;
    position: absolute;
    transform: translateX(-29px);

    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
    display: none;

    &.active {
      display: block;
    }
  }
}

.container.container-dark {
  .titleLevelOne,
  .title,
  .sub-title {
    &.active {
      color: #ffffff !important;

      &::before {
        background-color: #ffffff !important;
      }
    }
  }
}
