:host {
  font-style: normal;
  font-weight: 500;  
}

.container {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px #E5E9F2;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  .content {
    padding: 30px;
    p {
      &.header {
        font-size: 16px;
        line-height: 19px;
        color: #000000;
      }
      &.title {
        color: #748AA1;
        font-size: 14px;
        cursor: pointer;
      }
      &.sub-title {
        font-size: 12px;
        color: #748AA1;
        font-weight: normal;
        margin-left: 20px;
      }
      &.selected {
        color: #31394D;
      }
    }


  }


  .marker {
    width: 5px;
    height: 14px;
    background: #31394D;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
  }
}