<div class="container">
  <div class="content" #sectionLinks>
    <p class="header">Contents</p>
    <div *ngFor="let element of sourceData; let index = index">
      <div>
        <p>
          <a *ngIf="element.depth == 2"
            [id]="idBySection(element.heading)"
            class="title"
            [href]="getLinkBySection(element.heading)"
            >
            {{element.heading}}</a>

          <a *ngIf="element.depth == 3"
            [id]="idBySection(element.heading)"
            class="sub-title"
            [href]="getLinkBySection(element.heading)"
            >
            {{element.heading}}</a>
        </p>
      </div>
    </div>
  </div>
</div>



