<div
  class="container"
  [ngClass]="{ 'container-dark': darkMode }"
>
  <div class="content" #sectionLinks>
    <p class="header">{{ titleSidebar | translate }}</p>
    <div *ngFor="let element of sourceData; let index = index">
      <div>
        <p>
          <a
            *ngIf="showlevelOne && element.depth == 1"
            [id]="idBySection(element.heading)"
            class="titleLevelOne"
            (click)="scroll(getLinkBySection(element))"
            [ngClass]="{ active: active === idBySection(element.heading) }"
          >
            {{ element.heading }}</a
          >

          <a
            *ngIf="element.depth == 2"
            [id]="idBySection(element.heading)"
            class="title"
            [ngClass]="{ active: active === idBySection(element.heading) }"
            (click)="scroll(getLinkBySection(element))"
          >
            {{ element.heading }}</a
          >

          <a
            *ngIf="element.depth == 3"
            [id]="idBySection(element.heading)"
            class="sub-title"
            (click)="scroll(getLinkBySection(element))"
            [ngClass]="{ active: active === idBySection(element.heading) }"
          >
            {{ element.heading }}</a
          >
          <!-- <a
            *ngIf="element.depth == 4"
            [id]="idBySection(element.heading)"
            class="sub-title"
            (click)="scroll(getLinkBySection(element))"
            [ngClass]="{ active: active === idBySection(element.heading) }"
          >
            {{ element.heading }}</a
          > -->
        </p>
      </div>
    </div>
  </div>
</div>
