:host {
  font-style: normal;
  font-weight: 500;
}

.container {
  background: #ffffff;
  box-shadow: 0px 1px 4px #e5e9f2;
  border-radius: 5px;
  padding: 30px 70px;
  margin-bottom: 20px;
  height: 100%;
  box-sizing: border-box;

  .title {
    color: #31394d;
    font-size: 2em;
    font-weight: normal;
    &.mobile {
      margin-top: 10px;
      font-size: 20px;
    }
  }
  .sub-title {
    font-size: 20px;
  }
  .title-bold {
    font-weight: bold;
    font-size: 2em;
    color: #31394d;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #2f80ed;
    margin-left: 7px;
    &.a-file {
      font-size: 14px;
    }
  }

  img {
    transform: translateY(-3px);
  }

  img.forum {
    margin-left: 30px;
    width: 18px;
    height: 18px;
  }

  img.github {
    width: 18px;
    height: 17px;
  }

  img.linkIcon {
    width: 18px;
    height: 18px;
    transform: translateY(0);
  }

  .preamble {
    background: #f5f6fa;
    border: 1px solid #f5f6fa;
    box-shadow: 0px 1px 4px #e5e9f2;
    border-radius: 5px;
    padding: 16px;

    .label,
    .info {
      font-size: 14px;
      color: #31394d;
    }

    .info {
      font-weight: bold;
    }
  }

  .summary {
    font-size: 14px;
    color: #31394d;
  }

  .social {
    display: flex;
    align-items: center;

    white-space: nowrap;
    margin-top: 7px;
    margin-left: 10px;
  }
}

:host::ng-deep.variable-binding {
  color: #31394d;
  font-size: 16px;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
    position: relative;

    &:hover {
      a.anchor {
        outline: none;

        i {
          visibility: visible;
        }
      }
    }

    a.anchor {
      color: black;
      position: absolute;
      left: -20px;
      outline: none;

      i {
        visibility: hidden;
      }

      &:hover {
        outline: none;

        i {
          visibility: visible;
        }
      }
    }
  }

  h1,
  h2 {
    border-bottom: 1px solid #ebedf4;
    padding-bottom: 0.3em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    color: #000000;
  }

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h3,
  h1,
  h4,
  h5 {
    position: relative;

    &:hover {
      a.anchor {
        outline: none;

        i {
          visibility: visible;
        }
      }
    }

    a.anchor {
      color: black;
      position: absolute;
      left: -20px;
      outline: none;

      i {
        visibility: hidden;
      }

      &:hover {
        outline: none;

        i {
          visibility: visible;
        }
      }
    }
  }

  a.anchor {
    outline: none;

    &:hover {
      text-decoration: underline;
    }
  }

  a.linkPreview {
    text-decoration: none;
    padding: 0;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  pre {
    padding: 16px;
    background: #f5f6fa;
    border: 1px solid #f5f6fa;
    box-shadow: 0px 1px 4px #e5e9f2;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #31394d;
    width: auto;
    overflow-x: auto;
    overflow-wrap: break-word;

    code {
      background: transparent;
      border: 0;
      font-size: 100%;
      margin: 0;
      padding: 0;
      white-space: pre;
      word-break: normal;
    }
  }

  code {
    width: 100%;
    overflow-wrap: break-word;
    background-color: #f5f6fa;
    border-radius: 6px;
    font-size: inherit;
    margin: 0;
    padding: 0.2em 0.4em;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2f80ed;
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  p,
  ul,
  ol {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #31394d;

    li {
      overflow-wrap: break-word;
    }
    overflow-wrap: break-word;

    code {
      font-size: 85%;
    }
  }

  ol, ul {
    padding-left: 2em;
  }

  hr {
    background-color: #ebedf4;
    height: 0.25em;
    border: none;
    margin: 24px 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  table {
    border: 1px solid #e2e4e7;
    border-collapse: collapse;
    width: max-content;
    max-width: 100%;
    overflow: auto;
  }

  th,
  td {
    border: 1px solid #e2e4e7;
    padding: 6px 13px;
  }

  td {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #31394d;
  }

  th {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #31394d;
  }

  tr:nth-child(even) {
    background-color: #f5f6fa;
  }

  li + li {
    margin-top: 0.25em;
  }

  blockquote {
    border-left: 0.25em solid #e0e3e6;
    padding: 0 1em;
    color: #6a737d;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  background-color: #ebedf4;
  height: 1px;
  border: none;
  margin-top: 12px;
}

.space-3 {
  margin-top: 30px;
}

.space-4 {
  margin-top: 40px;
}

.space-4-1 {
  margin-top: 40px;
}

p {
  margin-bottom: 16px;
}

.mobile {
  display: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 310px;
  color: #748aa1;
  font-size: 14px;
  height: auto;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  transform: translate(-310px, 21px);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 25px;
    hr {
      margin-top: 20px;
    }
    .preamble {
      margin: 0 12px;
      padding: 8px;
    }
  }
  .space-3 {
    margin-top: 20px;
  }
  .space-4 {
    margin-top: 25px;
  }
  .no-mobile {
    display: none;
  }
  .mobile {
    display: block;
  }
}

.preview {
  width: 410px;
  height: auto;
  text-align: left;
  background: #ffffff;
  border-radius: 4px;
  padding: 20px 14px 20px 20px;
  box-sizing: border-box;

  @media (max-width: 600px) {
    width: 310px;
  }

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #31394d;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.16);

  .triangleUp {
    width: 0px;
    height: 0px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 15px solid #ffffff;
    position: absolute;
    top: 0;
    transform: translateY(-96%);
  }

  .triangleDown {
    width: 0px;
    height: 0px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 15px solid #ffffff;
    position: absolute;
    bottom: -13px;
  }

  .left {
    left: 11px;
  }

  .right {
    right: 11px;
  }

  .previewTextTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #31394d;
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .previewTextContent {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }
}

.fadeInFromDown {
  transform: translateY(0px);
  animation: fadeInFromDown 0.2s linear;
}

.fadeInFromUp {
  transform: translateY(0px);
  animation: fadeInFromUp 0.2s linear;
}

@keyframes fadeInFromDown {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInFromUp {
  0% {
    opacity: 0;
    transform: translateY(-35px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
