:host {
  font-style: normal;
  font-weight: 500;

  &.hostDarkMode {
    padding-left: 30px;
  }
}

.container {
  background: #ffffff;
  box-shadow: 0px 1px 4px #e5e9f2;
  border-radius: 5px;
  padding: 30px 70px;
  margin-bottom: 20px;
  height: 100%;
  box-sizing: border-box;

  .title {
    color: #31394d;
    font-size: 2em;
    font-weight: normal;

    &.mobile {
      margin-top: 10px;
      font-size: 20px;
    }
  }

  .sub-title {
    font-size: 20px;
  }

  .title-bold {
    font-weight: bold;
    font-size: 2em;
    color: #31394d;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #2f80ed;
    margin-left: 7px;

    &.a-file {
      font-size: 14px;
    }
  }

  img {
    transform: translateY(-3px);
  }

  img.votingIcon {
    margin-left: 30px;
    width: 16px;
    height: 16px;
  }

  img.forum {
    margin-left: 30px;
    width: 18px;
    height: 18px;
  }

  img.github {
    width: 18px;
    height: 17px;
  }

  img.linkIcon {
    width: 18px;
    height: 18px;
    transform: translateY(0);
  }

  .preamble {
    background: #f5f6fa;
    border: 1px solid #f5f6fa;
    box-shadow: 0px 1px 4px #e5e9f2;
    border-radius: 5px;
    padding: 16px;

    .label,
    .info {
      font-size: 14px;
      color: #31394d;
    }

    .info {
      font-weight: bold;
    }
  }

  .summary {
    font-size: 14px;
    color: #31394d;
  }

  .social {
    display: flex;
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 10px;
  }
}

:host::ng-deep.variable-binding {
  color: #31394d;
  font-size: 16px;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
    position: relative;

    &:hover {
      a.anchor {
        outline: none;

        i {
          visibility: visible;
        }
      }
    }

    a.anchor {
      color: black;
      position: absolute;
      left: -20px;
      outline: none;

      i {
        visibility: hidden;
      }

      &:hover {
        outline: none;

        i {
          visibility: visible;
        }
      }
    }
  }

  h1,
  h2 {
    border-bottom: 1px solid #ebedf4;
    padding-bottom: 0.3em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    color: #000000;
  }

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.875em;
    margin-left: 0.5em;
    font-weight: normal;
  }

  h3,
  h1,
  h4,
  h5,
  h6 {
    position: relative;

    &:hover {
      a.anchor {
        outline: none;

        i {
          visibility: visible;
        }
      }
    }

    a.anchor {
      color: black;
      position: absolute;
      left: -20px;
      outline: none;

      i {
        visibility: hidden;
      }

      &:hover {
        outline: none;

        i {
          visibility: visible;
        }
      }
    }
  }

  .h3 > h3,
  .h4 > h4,
  .h5 > h5,
  .h6 > h6,
  .h7 > h6,
  .h8 > h6 {
    font-size: 1em;
    border-radius: 7px;
    background: #b3ebe4;
    padding: 0.5em;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: normal;
  }

  .h3 > h3:after,
  .h4 > h4:after,
  .h5 > h5:after,
  .h6 > h6:after,
  .h7 > h6:after,
  .h8 > h6:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-left: 0.5em;
    vertical-align: -1px;
    content: "\f0d7";
    color: #7da49f;
  }

  .h4,
  .h5,
  .h6,
  .h7,
  .h8 {
    border-left: dotted 1px #888;
    padding-left: 1em;
  }

  .h4 {
    margin-left: 2em;
  }

  .h5 {
    margin-left: 2em;
  }

  .h6 {
    margin-left: 2em;
  }

  .h7 {
    margin-left: 2em;
  }

  .h8 {
    margin-left: 2em;
  }

  th {
    background: #c9f1ec;
    font-weight: normal;
    color: #31394d;
    padding: 1em;
  }

  td {
    text-align: center;
    padding: 0.5em;
    border: 1px solid #bbb;
    background: #fff;
  }

  a.anchor {
    outline: none;

    &:hover {
      text-decoration: underline;
    }
  }

  a.linkPreview {
    text-decoration: none;
    padding: 0;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  pre {
    padding: 16px;
    background: #f5f6fa;
    border: 1px solid #f5f6fa;
    box-shadow: 0px 1px 4px #e5e9f2;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #31394d;
    width: auto;
    overflow-x: auto;
    overflow-wrap: break-word;

    code {
      background: transparent;
      border: 0;
      font-size: 100%;
      margin: 0;
      padding: 0;
      white-space: pre;
      word-break: normal;
    }
  }

  code {
    width: 100%;
    overflow-wrap: break-word;
    background-color: #f5f6fa;
    border-radius: 6px;
    font-size: inherit;
    margin: 0;
    padding: 0.2em 0.4em;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2f80ed;
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  p,
  ul,
  ol {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #31394d;

    li {
      overflow-wrap: break-word;
    }

    overflow-wrap: break-word;

    code {
      font-size: 85%;
    }
  }

  ol,
  ul {
    padding-left: 2em;
  }

  hr {
    background-color: #ebedf4;
    height: 0.25em;
    border: none;
    margin: 24px 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  table {
    border-collapse: collapse;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    display: block;
  }

  th,
  td {
    border: 1px solid #e2e4e7;
    padding: 6px 13px;
  }

  td {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #31394d;
    white-space: nowrap;
  }

  th {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
  }

  tr:nth-child(even) {
    background-color: #f5f6fa;
  }

  li + li {
    margin-top: 0.25em;
  }

  blockquote {
    border-left: 0.25em solid #e0e3e6;
    padding: 0 1em;
    color: #6a737d;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  background-color: #ebedf4;
  height: 1px;
  border: none;
  margin-top: 12px;
}

.space-3 {
  margin-top: 30px;
}

.space-4 {
  margin-top: 40px;
}

.space-4-1 {
  margin-top: 40px;
}

p {
  margin-bottom: 16px;
}

.mobile {
  display: none;
}

.hide {
  display: none !important;
}

.tooltip {
  display: flex;
}

.tooltip .tooltiptext {
  z-index: 2000;
  visibility: hidden;
  width: 310px;
  color: #748aa1;
  font-size: 14px;
  height: auto;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  transform: translate(-310px, 21px);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 25px;

    hr {
      margin-top: 20px;
    }

    .preamble {
      margin: 0 12px;
      padding: 8px;
    }
  }

  .space-3 {
    margin-top: 20px;
  }

  .space-4 {
    margin-top: 25px;
  }

  .no-mobile {
    display: none;
  }

  .mobile {
    display: block;
  }
}

.preview {
  &.preview-dark::ng-deep {
    background: #0e1521 !important;

    .triangleUp {
      border-bottom-color: #0e1521 !important;
    }

    .triangleDown {
      border-top-color: #0e1521 !important;
    }

    .mipComponentTitle,
    .mipComponentSumary,
    .mipName {
      font-style: normal !important;
      color: #c9cee4 !important;

      em {
        font-style: normal !important;
      }
    }

    .smartLinksContainer.mipName .mipSumary {
      font-style: normal !important;
      color: #c9cee4 !important;
      font-size: 14px !important;
      font-weight: normal !important;
    }

    .mipSumary,
    .mipComponentMipName {
      color: #849aaf !important;
    }

    .thinRectangle {
      background-color: #478ded !important;
    }

    .fadeThinRectangle {
      background: linear-gradient(#478ded 20%, #0e1521) !important;
    }
  }

  &.not-preview-dark::ng-deep {
    .mipComponentTitle,
    .mipComponentSumary,
    .mipName {
      font-style: normal !important;
      color: #31394d !important;
      em {
        font-style: normal !important;
      }
    }

    .smartLinksContainer.mipName .mipSumary {
      font-style: normal !important;
      color: #3e4a60 !important;
      font-size: 14px !important;
      font-weight: normal !important;
    }

    .mipSumary,
    .mipComponentMipName {
      color: #b8c5d3 !important;
    }
  }
  width: 410px;
  height: auto;
  text-align: left;
  background: #ffffff;
  border-radius: 4px;
  padding: 20px 14px 20px 20px;
  box-sizing: border-box;

  @media (max-width: 600px) {
    width: 310px;
  }

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #31394d;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.16);

  .triangleUp {
    width: 0px;
    height: 0px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 15px solid #ffffff;
    position: absolute;
    top: -13px;
  }

  .triangleDown {
    width: 0px;
    height: 0px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 15px solid #ffffff;
    position: absolute;
    bottom: -13px;
  }

  .left {
    left: 11px;
  }

  .right {
    right: 11px;
  }

  .centerX {
    left: 50%;
    transform: translateX(15px);
  }

  .previewTextTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    // line-height: 23px;
    color: #31394d;
    // margin-bottom: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .previewTextContent {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }
}

.fadeInFromDown {
  transform: translateY(0px);
  animation: fadeInFromDown 0.2s linear;
}

.fadeInFromUp {
  transform: translateY(0px);
  animation: fadeInFromUp 0.2s linear;
}

@keyframes fadeInFromDown {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }

  50% {
    opacity: 0.5;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInFromUp {
  0% {
    opacity: 0;
    transform: translateY(-35px);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hiddenSmartLinks {
  display: none;
}
.smartLinksContainer {
  .mipComponentMipNameContainer {
    display: flex;
    align-items: center;

    .mipComponentLogoContainer {
      min-width: 30px;
      max-width: 30px;
      height: 35px;

      .mipComponentLogo {
        width: 100%;
      }
    }

    .mipComponentMipName {
      padding: 0 8px;
      color: #b8c5d3;
      flex-grow: 1;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
    }
  }

  .mipComponentMipSumary {
    display: flex;

    .rectangleContainer {
      min-width: 30px;
      max-width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;
      min-height: 10px;

      .thinRectangle {
        width: 2px;
        height: 140%;
        background-color: #76cdc3;
      }
    }

    .mipSumary {
      padding: 0 2px;
      font-size: 12px;
      line-height: 16px;
      width: 100%;
      font-weight: 400;
      color: #b8c5d3;
    }
  }

  .mipComponentTitleContainer {
    display: flex;
    margin: 10px 0 8px;

    .rectangleContainer {
      min-width: 30px;
      max-width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;
      min-height: 10px;
      position: relative;

      .thinRectangle {
        width: 2px;
        height: 200%;
        background-color: #76cdc3;
      }

      .mipComponentLogo {
        position: absolute;
        width: 20px;
        left: 50%;
        transform: translateX(-2px);
      }
    }

    .mipComponentTitle {
      padding: 0 16px;
      color: #31394d;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;

      .spanCodeComponent {
        margin-right: 2px;
      }
    }
  }

  .mipComponenSumary {
    display: flex;

    .rectangleContainer {
      min-width: 30px;
      max-width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;
      min-height: 10px;
      position: relative;

      .fadeThinRectangle {
        width: 2px;
        position: relative;
        top: -5px;
        height: 100%;
        background: linear-gradient(#76cdc3 20%, #ffffff);
      }

      .mipComponentLogo {
        position: absolute;
        width: 20px;
        padding-left: 17px;
        height: 120%;
      }
    }

    .mipComponentSumary {
      font-style: normal !important;
      padding: 0 8px;
      font-size: 14px;
      line-height: 20px;
      width: 100%;
      font-weight: 400;
      color: #31394d;

      .spanCodeMip {
        margin-right: 2px;
      }
    }
  }
}

.container-dark .linksIconsWrapperMobile {
  background-color: #31394d !important;
  color: #adccf7 !important;
  min-width: 28px;
  margin-left: 20px;
}

.linksIconsWrapperMobile {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0 5px;
  margin-top: 7px;
}

.container.popup {
  padding: 0;

  &.popup-dark {
    &,
    .menuContainer {
      background-color: #31394d !important;
      color: #adccf7 !important;
      box-shadow: 0px 6px 20px 0px #0000004d !important;
    }

    .tooltip .tooltiptext {
      background-color: #31394d !important;
      color: #adccf7 !important;
      box-shadow: 0px 6px 20px 0px #0000004d !important;
    }
  }

  .menuContainer {
    background-color: white;
    border-radius: 5px;
    padding: 13px 20px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;

    .tooltip {
      margin: 15px 0;
    }

    img.votingIcon,
    img.forum {
      margin-left: 0;
    }
  }
}

.textGray {
  color: #748aa1 !important;
}

.mipName {
  padding: 0 16px;
  color: #31394d;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 768px) {
  .linksIconsWrapperMobile {
    padding: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .container:not(.popup) {
    margin-top: 20px;
  }

  .linksIconsWrapper {
    display: none !important;
  }

  .linksIconsWrapperMobile {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  :host {
    padding-left: 0;
  }

  .container:not(.popup) {
    margin-top: 20px;
  }

  .container.container-dark {
    padding: 0;
  }
}

@media screen and (max-width: 1023px),
  screen and (min-width: 1200px) and (max-width: 1600px) {
  .linksIconsWrapper {
    display: none !important;
  }

  .linksIconsWrapperMobile {
    padding: 0;
    display: flex;
  }
}

//Dark Mode

.container {
  &.container-dark {
    background: #1a202b;
    box-shadow: none;
    padding: 30px 70px 30px 40px;

    .title-bold {
      color: #5c99f0;
    }

    .title {
      color: #98c0f5;
    }

    &::ng-deep.variable-binding {
      hr {
        background-color: #3e4a60;
      }

      th,
      th * {
        color: #5c99f0 !important;
      }

      th abbr {
        color: white !important;
      }

      tr:nth-child(odd),
      tr:nth-child(odd) > td {
        color: #b8c5d3 !important;
        background-color: #1a202b !important;
      }

      tr:nth-child(even),
      tr:nth-child(even) > td {
        color: #b8c5d3 !important;
        background-color: #0e1521 !important;
      }

      p,
      ul,
      ol,
      & {
        color: #b8c5d3;
      }

      h1,
      h2 {
        .anchor,
        & {
          color: #5c99f0;
        }
      }

      h3,
      h4,
      h5,
      h6 {
        .anchor,
        & {
          color: #98c0f5;
        }
      }

      .h3 > h3,
      .h4 > h4,
      .h5 > h5,
      .h6 > h6,
      .h7 > h6,
      .h8 > h6 {
        background-color: #5e83ca;
        color: white;
      }

      .h3 > h3:after,
      .h4 > h4:after,
      .h5 > h5:after,
      .h6 > h6:after,
      .h7 > h6:after,
      .h8 > h6:after {
        color: #4b68a1;
      }

      th {
        background: #4b68a1;
        color: white !important;
      }
    }
  }
}

:host::ng-deep .smartLinksContainer .mipComponenSumary .mipComponentSumary {
  p,
  em {
    font-style: normal !important;
  }
}
