<div class="container">
  <div class="row">
    <div *ngIf="mip&&!mip?.proposal">
      <span *ngIf="mip?.title" class="title-bold">{{mip?.mipName}}<span class="no-mobile">:</span> </span><span class="no-mobile title"> {{mip?.title}}</span>
    </div>
    <div *ngIf="mip?.proposal">
      <span *ngIf="mip?.title" class="title-bold">{{subproposalCode}}<span class="no-mobile">:</span> </span><span class="no-mobile title"> {{subproposalTitle}}</span>
    </div>
    <div class="row social">
      <img class="github" src="../../../../../assets/images/github_dark.svg" /> <a href="{{gitgubUrl}}/{{mip?.filename}}" target="_blank">GitHub</a>
      <img class="forum" src="../../../../../assets/images/forum.svg" /> <a class="tooltip">Forum<span class="tooltiptext">Link to the forum coming soon. <br>
        Feel free to manually search the MIP number at <br>
        <a href="https://forum.makerdao.com/" target="_blank">forum.makerdao.com</a>
      </span></a>
    </div>
  </div>
  <!-- <div class="mobile title margin-2"> {{mip?.title}}</div> -->
  <div *ngIf="mip&&!mip?.proposal" class="mobile title margin-2">
    <span class="title"> {{mip?.title}}</span>
  </div>
  <div *ngIf="mip?.proposal" class="mobile title margin-2">
    <span class="title"> {{subproposalTitle}}</span>
  </div>
  <hr>
  <markdown *ngIf="mip&&!mdUrl" class="variable-binding" [data]="content" (ready)="onReady()"></markdown>
  <markdown *ngIf="!mip&&mdUrl" class="variable-binding" [src]="mdUrl" (ready)="onReady()"></markdown>
  <app-subproposals *ngIf="subproposals && subproposals.length > 0" [subproposals]="subproposals"></app-subproposals>
</div>

<ng-template #preview let-data>
  <section
    class="preview"
    [ngClass]="{ fadeInFromDown: triangleUp, fadeInFromUp: !triangleUp }"
    #previewRef
  >
    <div class="previewTextTitle">{{ data.title }}</div>
    <div class="previewTextContent">{{ data.sentenceSummary }}</div>
    <div
      [ngClass]="{
        triangleUp: triangleUp,
        triangleDown: !triangleUp,
        left: triangleLeft,
        right: !triangleLeft
      }"
    ></div>
  </section>
</ng-template>
