.logo {
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  padding: 0 60px;
  background-color: transparent;
  position: relative;
  z-index: 1000;
  transition: background-color 0.2s;

  &:hover {
    background-color: #ffffff;
  }

  .scrollMenuButton {
    background-color: transparent;
    box-shadow: none;

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      right: 0;
    }

    img {
      margin: 0;
    }

    &:hover {
      svg {
        path {
          fill: #31394d;
        }
      }
    }
  }

  .menu-wrapper {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: auto;
    padding: 0 5px;
    display: flex;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .outer {
      height: 1px;
      min-width: 1px;
      background-color: transparent;
      display: inline-block;
    }
  }

  img {
    margin-right: 14px;
    width: auto;
  }
}

.logoBackgroundColor {
  background-color: white;
}

.logoBackgroundTransparent {
  background-color: transparent;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo {
    text-align: center;
    margin: 0 0 36px 0;
    display: block;
  }
  .mobile {
    display: inherit;
  }
  .no-mobile {
    display: none;
  }

  .logoBackgroundColor {
    background-color: #f5f6fa;
  }

  .logoBackgroundTransparent {
    background-color: transparent;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    text-align: center;
    margin: 0 0 29px 0;
    display: block;
    height: auto;
    padding: 0;
    margin-top: 0;
    padding-top: 19px;

    .menu-wrapper {
      width: 100vw;
      overflow-x: auto;
      height: 100%;
      padding: 0;

      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      & {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    }
  }

  .scrollMenuButton {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .logo {
    padding: 0 210px;
  }
}
