:host {
  color: #748AA1;
  font-size: 12px;
}



.button {
  width: 40px;
  height: 40px;
  box-shadow: 0px 1px 4px #E5E9F2;
  border-radius: 5px;
  text-align: center;
  background: #FFFFFF;
  cursor: pointer;
  img {
    margin-top: 10px;
  }
}

.frame {
  background: #FFFFFF;
  box-shadow: 0px 30px 60px #E5E9F2;
  border-radius: 5px;
  position: absolute;
}

.content {
  height: 265px;
  width: 264px;
  padding: 30px 30px 20px;
  transform: translate(-282px, 10px);
  .title {    
    font-weight: 700;
  }

  .data {
    display: flex;
    flex-direction: row;
    margin: 26px 0;
    .label {
      width: 55px;
      margin-right: 30px;
    }
    input {
      width: 120px;
      height: 18px;
      border: 1px solid #D2D3D9;
      border-radius: 5px;
      text-align: center;
      &::placeholder {
        color: #BCBEC7;
        font-size: 12px;
      }
      &.status-accepted {
        border: 1px solid #27AE60;
        color: #27AE60;        
      }
      &.status-rejected {
        border: 1px solid #EB5757;
        color: #EB5757;        
      }
      &.status-archive {
        border: 1px solid #748AA1;
        color: #748AA1;        
      }
      &.status-rfc {
        border: 1px solid #F2994A;
        color: #F2994A;        
      }
      &.status-none {
        border: 1px solid #E5E9F2;
        color: #E5E9F2;        
      }
      &.type {
        font-weight: bold;
      }
    }
    .arrow {
      margin-left: 5px;
      cursor: pointer;
      // -webkit-transform: rotate(-45deg);
      // -moz-transform: rotate(-45deg);
      // -ms-transform: rotate(-45deg);
      // -o-transform: rotate(-45deg);
      // transform: rotate(-45deg);
    }
    .status-options, .type-options {
      width: 120px;      
      transform: translate(83px, 27px);
      padding: 10px;

      .status-option, .type-option {
        margin-top: 5px;
        cursor: pointer;
      }
    }
  }
  .buttons {
    margin-top: 63px;
    display: flex;
    justify-content: flex-end;

    .btn {
      background-color: #FFFFFF;
      padding: 8px 15px;
      border-radius: 5px;
      border: none;
      margin-left: 15px;
      font-weight: bold;

      &.reset {
        box-shadow: 0px 30px 60px #E5E9F2;
        color: #31394D;
        border: 1px solid #31394D;
        
      }

      &.apply  {
        background-color: #2F80ED;
        border: 1px solid #2F80ED;
        box-sizing: border-box;
        color: #FFFFFF;
      }
    }
  } 
}

