<a
  (click)="onClick()"
  (mouseover)="open()"
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  class="dropdown"
  [ngClass]="{
    firstLevel: levelMenu === 0 && !isOpen,
    firstLevelActive: levelMenu === 0 && isOpen,
    subMenu: levelMenu !== 0 && !isOpen,
    subMenuActive: levelMenu !== 0 && isOpen
  }"
  [ngStyle]="{ padding: levelMenu === 0 ? '10px 0px 10px 40px' : '10px 40px' }"
>
  {{ menu.name }}
  <div
    *ngIf="menu.children && menu.children.length > 0 && levelMenu === 0"
    class="arrowContainer"
  >
    <img
      class="arrow"
      [ngClass]="{ rotate: isOpen }"
      src="../../../../../assets/images/down.svg"
    />
  </div>
</a>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayHasBackdrop]="levelMenu === 0 ? true : false"
  (backdropClick)="onClickedBackdrop()"
  [cdkConnectedOverlayPanelClass]="'panelClass'"
  [cdkConnectedOverlayPositions]="position"
>
  <div class="dropdown-content">
    <app-menu
      *ngFor="let child of menu.children; let i = index"
      [menu]="child"
      (clickedBackdrop)="closeMenu()"
      [levelMenu]="levelMenu + 1"
      (opened)="onOpened(i)"
      [index]="i"
      [openedIndex]="openedIndexChild"
      [isOpen]="openedIndexChild === i"
    ></app-menu>
    <div
      *ngIf="
        openedIndexChild !== -1 &&
        menu.children[openedIndexChild] &&
        menu.children[openedIndexChild].children.length > 0
      "
      class="verticalLine"
    ></div>
  </div>
</ng-template>
