:host {
  // position: relative;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: whitesmoke;
    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;
  }

  a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #748aa1;
  }
}

.dropdown-content {
  width: max-content;
  height: fit-content;
  background-color: white;
  // box-shadow: 0 1px 4px #e5e9f2;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%),
    0 1px 14px 0 rgb(0 0 0 / 12%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.backdrop {
  opacity: 0.5;
}

.panelClass {
  transition: all 0.4s ease-in-out;
}
