<a
  (click)="onClick()"
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  class="dropdown"
>
  {{ menu.name }}
  <span *ngIf="menu.children && menu.children.length > 0" class="arrow"></span>
</a>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="onClickedBackdrop()"
  [cdkConnectedOverlayPanelClass]="'panelClass'"
  [cdkConnectedOverlayPositions]="position"
>
  <div class="dropdown-content">
    <app-menu
      *ngFor="let child of menu.children"
      [menu]="child"
      (clickedBackdrop)="closeMenu()"
      [level]="level + 1"
    ></app-menu>
  </div>
</ng-template>
