:host {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  height: 100%;
  display: flex;
  align-items: center;

  a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #748aa1;
    padding: 10px 40px 10px 20px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.2s;

    .arrowContainer {
      position: relative;
      height: 5px;
      width: 7px;
      transition: transform 0.2s;
      margin-left: 8px;

      .arrow {
        position: absolute;
        left: 0;
      }

      .rotateUp {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: transform 0.2s;
      }

      .rotateDown {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: transform 0.2s;
      }
    }

    &.firstLevel {
      height: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      transition: all 0.2s;
      padding: 14px 0px 14px 28px;
    }

    &.firstLevelActive {
      height: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      font-weight: bold;
      transition: all 0.2s;
      color: #31394d;
      padding: 10px 0px 10px 28px;
    }

    &.noFirstLevel {
      height: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      transition: all 0.2s;
      padding: 10px 40px 10px 20px;    }

    &.subMenu {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 14px;
      color: #748aa1;
      transition: all 0.2s;
    }

    &.subMenuActive {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 14px;
      color: #31394d;
      transition: all 0.2s;
    }

    span {
      position: relative;
      width: max-content;
    }

    &:hover {
      color: #31394d;

      .submenuArrow {
        border-color: transparent transparent transparent #31394d;
      }
    }

    .submenuArrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent #b8c5d3;
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }
  }
}

.dropdown-content {
  width: calc(50vw - 0.2px);
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  // padding: 5px 0;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%),
    0 1px 14px 0 rgb(0 0 0 / 12%);
}

.dropdown-content-first-level {
  width: calc(50vw - 0.2px);
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  // padding: 5px 0;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%),
    0 1px 14px 0 rgb(0 0 0 / 12%);
}

.fadeInMenuDownAnimation {
  animation: fadeInMenuDown 0.2s;
}

.fadeInMenuUpAnimation {
  animation: fadeInMenuUp 0.2s;
}

.backdrop {
  opacity: 0.5;
}

.panelClass {
  transition: all 0.4s ease-in-out;
  height: auto;
}

@keyframes fadeInMenuDown {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeInMenuUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 768px) {
  :host {
    a {
      &.firstLevel {
        padding: 10px 0px 10px 40px;

        span {
          position: relative;

          &::after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: #2F80ED;
            position: absolute;
            display: block;
            margin-top: 5px;
            border-radius: 1px;
            transform: rotateY(90deg);
            box-sizing: border-box;
            transition: all 0.2s ease-in-out;
          }
        }

        &:hover {
          color: #31394d;

          span {
            &::after {
              transform: rotateY(0deg);
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }

      &.noFirstLevel {
        // padding: 10px 40px;
        padding: 10px 40px 10px 20px;
      }

      &.firstLevelActive {
        padding: 10px 0px 10px 40px;

        span {
          position: relative;

          &::after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: #2F80ED;
            position: absolute;
            display: block;
            margin-top: 5px;
            border-radius: 1px;
            transform: rotateY(90deg);
            box-sizing: border-box;
            transition: all 0.2s ease-in-out;
          }
        }

        &:hover {
          color: #31394d;

          span {
            &::after {
              transform: rotateY(0deg);
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }

      &.subMenu {
        font-size: 11px;
      }
    }
  }

  .dropdown-content {
    width: max-content;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    // padding: 5px 0;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%),
      0 1px 14px 0 rgb(0 0 0 / 12%);
  }

  .fadeInMenuDownAnimation {
    animation: fadeInMenuDown 0.2s;
  }

  .fadeInMenuUpAnimation {
    animation: fadeInMenuUp 0.2s;
  }

  .dropdown-content-first-level {
    width: max-content;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: initial;
    // padding: 5px 0;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%),
      0 1px 14px 0 rgb(0 0 0 / 12%);
  }
}
