/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #F5F6FA;}
// body { margin: 0; font-family: Roboto; background: #F5F6FA;}


.mat-tooltip-green {
  color: white;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(26, 171, 155, 0.9);
}
