/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f5f6fa;
}
// body { margin: 0; font-family: Roboto; background: #F5F6FA;}

.mat-tooltip-green {
  color: white;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(26, 171, 155, 0.9) !important;
}

.mat-tooltip-blue {
  color: white;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(47, 128, 237, 0.8) !important;
}

.MipContentOverlayPanelClass {
  overflow-y: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.IconsOverlayPanelClass {
  margin-top: 10px;
}

.MipContentOverlayBackdropClass {
  background-color: rgba(51, 51, 51, 0.1);
}
