:host {
  font-style: normal;
  font-weight: 500;
}

.container {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px #E5E9F2;
  border-radius: 5px;
  padding: 20px 30px 35px;
  margin-bottom: 10px;
  .title {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .label {
    color: #748AA1;
    font-size: 12px;
    margin-right: 30px;
  }
  .info {
    font-size: 12px;
    color: #31394D;
    font-weight: bold;
  }
  hr {
    background-color: #EBEDF4;
    height: 1px;
    border: none;
    margin: 5px 0;
  }
  img {
    cursor: pointer;
    margin-left: 7px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

app-status {
  transform: translateY(8px);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px 20px 25px;
    margin-bottom: 20px;
    .title {
      margin-bottom: 20px;
    }
  }
}

