<div class="container">
  <p class="title">Details</p>
  <hr>
  <span class="row">
    <p class="label">Status</p>
    <app-status [type]='getStatusValue(status)'></app-status>
  </span>
  <hr>
  <span class="row">
    <p class="label">Poll Address</p>
    <p class="info">N/A</p>
    <!-- <img src="../../../../../assets/images/copy.svg" />
    <img src="../../../../../assets/images/open.svg" /> -->
  </span>
  <hr>
  <span class="row">
    <p class="label">Start Date</p>
    <p class="info">2020-12-14</p>
  </span>
  <hr>
  <span class="row">
    <p class="label">Last Opened</p>
    <p class="info">2020-12-14</p>
  </span>
</div>
