<div
  class="maker-container"
  [ngClass]="{
    'loading-height-fixed': loading,
    'maker-container-dark': darkMode
  }"
>
  <div *ngIf="loading && !dataSource.length" class="maker-loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="dataSource?.length > 0">
    <div
      infiniteScroll
      [infiniteScrollDistance]="0"
      [infiniteScrollThrottle]="0"
      (scrolled)="onScroll()"
    >
      <table
        mat-table
        [dataSource]="dataSourceTable"
        multiTemplateDataRows
        class="no-mobile mainTable"
        data-cy="table-list-mips"
      >
        <ng-container
          matColumnDef="{{ column }}"
          *ngFor="let column of columnsToDisplay"
        >
          <span *ngIf="column == 'links'">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="titleLinks"
            >
              <span class="headerContent"
              style="cursor: default;"
               >{{ column | translate
                }}</span>
            </th>
          </span>
          <span *ngIf="column == 'title'">
            <th mat-header-cell *matHeaderCellDef class="titleHeader">
              <span
                class="headerContent"
                style="cursor: pointer"
                (click)="onSendOrder(column)"
                >{{ column | translate
                }}<app-asc-des
                  [direction]="getOrderDirection(column)"
                ></app-asc-des
              ></span>
            </th>
          </span>
          <span *ngIf="column == 'summary'">
            <th mat-header-cell *matHeaderCellDef class="titleSummary">
              <span class="headerContent" style="cursor: default;"
                >{{ column | translate
                }}<app-asc-des
                  *ngIf="column != 'summary'"
                  [direction]="getOrderDirection(column)"
                ></app-asc-des
              ></span>
            </th>
          </span>
          <span *ngIf="column == 'status'">
            <th mat-header-cell *matHeaderCellDef class="titleStatus">
              <!-- (click)="onSendOrder(column)"
          style="cursor: pointer;" -->
              <!-- <span class="headerContent"
              > -->

              <span
                class="headerContent"
                style="cursor: pointer"
                (click)="onSendOrder(column)"
                >{{ column | translate
                }}<app-asc-des
                  [direction]="getOrderDirection(column)"
                ></app-asc-des
              ></span>
            </th>
          </span>
          <span *ngIf="column != 'link'">
            <span *ngIf="column != 'pos'">
              <th mat-header-cell *matHeaderCellDef>
                <span class="headerContent"
                  >{{ column | translate
                  }}<app-asc-des *ngIf="column!='summary'"
                    [direction]="getOrderDirection(column)"
                  ></app-asc-des
                ></span>
              </th>
            </span>
            <span *ngIf="column == 'pos'">
              <th
                mat-header-cell
                *matHeaderCellDef
                (click)="onSendOrder(column)"
              >
                <span class="headerContent"
                style="cursor: pointer; padding-right: 50px;"
                class="titlePost"
                  >#
                  <app-asc-des
                  style="padding-left: 3px;"
                    [direction]="getOrderDirection(column)"
                  ></app-asc-des
                ></span>
              </th>
            </span>
          </span>
          <span *ngIf="column == 'link'">
            <th mat-header-cell *matHeaderCellDef>
              <span class="headerContent linkHeader"> {{ column }}</span>
            </th>
          </span>

          <span *ngIf="column == 'title'">
            <td
              class="tooltip"
              mat-cell
              *matCellDef="let element"
              [ngClass]="{ 'subproposal-title': element.proposal }"
              (click)="onNavigateToDetails(element.mipName)"
              style="cursor: pointer"
            >
              <!-- <span class="tooltiptext">Click for more details</span>  -->
              <a
                class="mipTitleList"
                routerLink="/mips/details/{{ element.mipName }}"
                style="position: relative"
              >
                <div
                  class="cover"
                  [matTooltip]="element[column]"
                  [matTooltipClass]="{
                    'mat-tooltip': true,
                    'tooltip-darkmode': darkMode
                  }"
                  #tooltip="matTooltip"
                  (mouseover)="tooltip.show()"
                  (mouseleave)="tooltip.hide()"
                ></div>
                <br />{{ element[column] }}</a
              >
            </td>
          </span>
          <span *ngIf="column == 'status'">
            <td
              class="tooltip"
              mat-cell
              *matCellDef="let element"
              (click)="onNavigateToDetails(element.mipName)"
              style="cursor: pointer"
            >
              <div class="space-status"></div>
              <app-status
                [type]="getStatusType(element.status)"
                [value]="getStatusValue(element.status)"
                style="cursor: pointer"
              ></app-status>
              <!-- <span class="tooltiptext">Click for more details</span> -->
            </td>
          </span>
          <span *ngIf="column == 'links'">
            <td
              mat-cell
              *matCellDef="let element"
              (click)="onNavigateToDetails(element.mipName)"
              style="cursor: pointer"
            >
              <div class="space-status"></div>
              <app-social
                votingPortalLink="{{ element?.votingPortalLink }}"
                forumLink="{{ element?.forumLink }}"
                [githubLink]="element.filename"
              ></app-social>
            </td>
          </span>
          <span *ngIf="column == 'pos'">
            <td
              class="tooltip"
              (click)="onNavigateToDetails(element.mipName)"
              mat-cell
              *matCellDef="let element"
              style="cursor: pointer; position: relative"
            >
              <br />

              {{ element.proposal ? "" : element.mip }}
              <div (click)="onClickButtonCaptureEvent($event)">
                <button
                  mat-icon-button
                  *ngIf="!element.proposal && element.mipFather"
                  class="arrow-container"
                  [disabled]="element.loadingSubproposals"
                  (click)="
                    expandedItems = {
                      subproposals: true,
                      summary: false
                    };
                    onGetSubproposals(element, $event)
                  "
                  (mouseover)="onMouseOverLeaveArrow(element._id, true)"
                  (mouseleave)="onMouseOverLeaveArrow(element._id, false)"
                  style="right: 0"
                >
                  <div
                    class="arrow-wrapper expanded"
                    [ngClass]="{
                      rotate:
                        !element.loadingSubproposals &&
                        element.expanded &&
                        expandedItems.subproposals
                    }"
                  >
                    <img
                      class="arrow"
                      [src]="
                        isArrowDownOnMouseOver && element._id == currentRowOver
                          ? './assets/images/down_hover.svg'
                          : './assets/images/down.svg'
                      "
                    />
                  </div>
                </button>
              </div>

              <!-- <span class="tooltiptext">Click for more details</span> -->
            </td>
          </span>
          <span *ngIf="column == 'summary'">
            <td
              class="tooltip"
              style="position: relative; cursor: pointer"
              mat-cell
              *matCellDef="let element"
              (click)="onNavigateToDetails(element.mipName)"
            >
              <div style="cursor: pointer">
                <a class="summary" *ngIf="!element.expandedSummary"
                  ><br />
                  <markdown
                    class="variable-binding variable-binding-summary"
                    [data]="element.sentenceSummary"
                  ></markdown
                ></a>
                <a class="paragraphSummary" *ngIf="element.expandedSummary"
                  ><br />
                  <markdown
                    class="variable-binding"
                    [data]="element.paragraphSummary || element.sentenceSummary"
                  ></markdown>
                </a>
              </div>
              <button
                mat-icon-button
                class="arrow-container"
                (click)="
                  element.expandedSummary = !element.expandedSummary;
                  updateSelected(element._id, $event)
                "
                (mouseover)="onMouseOverLeaveArrow(element._id, true)"
                (mouseleave)="onMouseOverLeaveArrow(element._id, false)"
              >
                <div
                  class="arrow-wrapper expanded"
                  [ngClass]="{
                    rotate: element.expandedSummary
                  }"
                >
                  <img
                    class="arrow"
                    [src]="
                      isArrowDownOnMouseOver && element._id == currentRowOver
                        ? './assets/images/down_hover.svg'
                        : './assets/images/down.svg'
                    "
                  />
                </div>
              </button>

              <!-- <span class="tooltiptext">Click for more details</span> -->
            </td>
          </span>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplay.length"
          >
            <!-- <div
              class="maker-element-subset-detail"
              [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'"
            >
              <app-list-subset
                *ngIf="expandedItems.subproposals"
                [dataSourceSubsetRows]="element.subsetRows"
                [subproposalsGroup]="element.subproposalsGroup"
              ></app-list-subset>
            </div> -->
            <div
              class="maker-element-subset-detail"
              [@detailExpand]="
                element.expanded == true ? 'expanded' : 'collapsed'
              "
            >
              <app-list-subset
                [darkMode]="darkMode"
                [dataSourceSubsetRows]="element.subsetRows"
                [subproposalsGroup]="element.subproposalsGroup"
              ></app-list-subset>
            </div>
          </td>
        </ng-container>

        <ng-container *ngIf="showHead">
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        </ng-container>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplay"
          class="maker-element-row"
          [class.maker-expanded-row]="element.expanded"
          [class.maker-hide-row]="(hideParent && element.hide && !statusParameters)"
          [class.maker-hide-row]="hideParent && statusParameters"
          [attr.data-cy]="((element.hide && !statusParameters) || statusParameters) ? 'non-search-result' : 'search-result'"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="maker-detail-row"
        ></tr>
      </table>
      <div class="mobile">
        <div *ngFor="let item of dataSourceTable.data" style="width: 100%">
          <div
            class="mobile-container"
            [ngClass]="{
              'proposal-card': !item.proposal,
              'subproposal-card': item.proposal,
              'maker-hide-row': hideParent && ((item.hide && !statusParameters) || statusParameters)
            }"
          >
            <div style="width: calc(100% - 35px)">
              {{ item.proposal ? "" : "# " + item.mip }}
              <img *ngIf="!item.proposal" src="./assets/images/circle.svg" />
              <span class="title">
                <a routerLink="/mips/details/{{ item.mipName }}">
                  {{ item.title }}</a
                ></span
              >
            </div>
            <div class="status">
              <app-status
                [type]="getStatusType(item.status)"
                [value]="getStatusValue(item.status)"
              ></app-status>
            </div>
            <div class="content">
              <a
                *ngIf="selected != item._id"
                routerLink="/mips/details/{{ item.mipName }}"
              >
                <markdown
                  class="variable-binding-content sentenceSummaryMobile"
                  [data]="item.sentenceSummary"
                ></markdown>
              </a>
              <a
                *ngIf="selected == item._id"
                routerLink="/mips/details/{{ item.mipName }}"
              >
                <markdown
                  class="variable-binding-content"
                  [data]="item.paragraphSummary"
                ></markdown>
              </a>
            </div>
            <div style="clear: both"></div>
            <button
              mat-button
              class="more"
              (click)="updateSelected(item._id, $event)"
            >
              <img
                class="arrow"
                [ngClass]="{ rotate: selected == item._id }"
                src="./assets/images/down.svg"
              />
              More
            </button>
            <app-social
              votingPortalLink="{{ item?.votingPortalLink }}"
              forumLink="{{ item?.forumLink }}"
              [githubLink]="item.filename"
              mobile="true"
            ></app-social>
            <div style="clear: both"></div>
            <div
              class="subproposalsButtonWrapper"
              (click)="onClickButtonCaptureEvent($event)"
            >
              <button
                mat-icon-button
                *ngIf="!item.proposal && item.mipFather"
                class="arrow-container"
                [disabled]="item.loadingSubproposals"
                (click)="
                  expandedItems = { subproposals: true, summary: false };
                  onGetSubproposals(item, $event)
                "
                (mouseover)="onMouseOverLeaveArrow(item._id, true)"
                (mouseleave)="onMouseOverLeaveArrow(item._id, false)"
                style="right: 0"
              >
                <div
                  class="arrow-wrapper expanded"
                  [ngClass]="{
                    rotate:
                      !item.loadingSubproposals &&
                      item.expanded &&
                      expandedItems.subproposals
                  }"
                >
                  <img
                    class="arrow"
                    [src]="
                      isArrowDownOnMouseOver && item._id == currentRowOver
                        ? './assets/images/down_hover.svg'
                        : './assets/images/down.svg'
                    "
                  />
                </div>
              </button>
            </div>
          </div>
          <div [@detailExpand]="item.expanded ? 'expanded' : 'collapsed'">
            <ng-container *ngIf="item.expanded">
              <div *ngFor="let itemSubset of item.subsetRows">
                <div class="mobile-container subproposal-card-subset">
                  <div style="width: calc(100% - 35px)">
                    <span class="title">
                      {{ itemSubset.subset + ": " + itemSubset.title }}</span
                    >
                  </div>
                  <div
                    class="subproposalsButtonWrapper"
                    (click)="onClickButtonCaptureEvent($event)"
                  >
                    <button
                      mat-icon-button
                      *ngIf="!item.proposal && item.mipFather"
                      class="arrow-container"
                      [disabled]="item.loadingSubproposals"
                      (click)="
                        expandedItems = { subproposals: true, summary: false };
                        itemSubset.expanded = !itemSubset.expanded
                      "
                      (mouseover)="onMouseOverLeaveArrow(item._id, true)"
                      (mouseleave)="onMouseOverLeaveArrow(item._id, false)"
                      style="right: 0"
                    >
                      <div
                        class="arrow-wrapper expanded"
                        [ngClass]="{
                          rotate:
                            itemSubset.expanded && expandedItems.subproposals
                        }"
                      >
                        <svg
                          width="7"
                          height="5"
                          viewBox="0 0 7 5"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="arrow"
                        >
                          <path
                            d="M3.91278 4.79436C3.70724 5.06854 3.29276 5.06854 3.08722 4.79436L0.102225 0.812461C-0.149574 0.476568 0.0925517 -6.03868e-07 0.515005 -5.66936e-07L6.485 -4.50231e-08C6.90745 -8.09104e-09 7.14957 0.476568 6.89778 0.812461L3.91278 4.79436Z"
                            fill="#1aab9b"
                          />
                        </svg>
                      </div>
                    </button>
                  </div>
                </div>

                <div
                  [@subproposalExpand]="
                    itemSubset.expanded ? 'expanded' : 'collapsed'
                  "
                >
                  <ng-container *ngIf="itemSubset.expanded">
                    <div
                      *ngFor="
                        let itemSubsetChildren of item.subproposalsGroup[
                          itemSubset.subset
                        ]
                      "
                      class="mobile-container subproposal-card"
                    >
                      <div style="width: calc(100% - 35px)">
                        {{
                          itemSubsetChildren.proposal
                            ? ""
                            : "# " + itemSubsetChildren.mip
                        }}
                        <img
                          *ngIf="!itemSubsetChildren.proposal"
                          src="./assets/images/circle.svg"
                        />
                        <span class="title">
                          <a
                            routerLink="/mips/details/{{
                              itemSubsetChildren.mipName
                            }}"
                          >
                            {{
                              itemSubsetChildren.title &&
                              itemSubsetChildren.title.includes("-SP")
                                ? "SP" +
                                  itemSubsetChildren.title.split("-SP")[1]
                                : itemSubsetChildren.title
                            }}</a
                          ></span
                        >
                      </div>
                      <div class="status">
                        <app-status
                          [type]="getStatusType(itemSubsetChildren.status)"
                          [value]="getStatusValue(itemSubsetChildren.status)"
                        ></app-status>
                      </div>
                      <div class="content">
                        <a
                          *ngIf="selected != itemSubsetChildren._id"
                          routerLink="/mips/details/{{
                            itemSubsetChildren.mipName
                          }}"
                        >
                          <markdown
                            class="variable-binding-content subProposal"
                            [data]="itemSubsetChildren.sentenceSummary"
                          ></markdown>
                        </a>
                        <a
                          *ngIf="selected == itemSubsetChildren._id"
                          routerLink="/mips/details/{{
                            itemSubsetChildren.mipName
                          }}"
                        >
                          <markdown
                            class="variable-binding-content"
                            [data]="itemSubsetChildren.sentenceSummary"
                          ></markdown>
                        </a>
                      </div>
                      <div style="clear: both"></div>
                      <button
                        mat-button
                        class="more"
                        (click)="updateSelected(itemSubsetChildren._id, $event)"
                      >
                        <img
                          class="arrow"
                          [ngClass]="{
                            rotate: selected == itemSubsetChildren._id
                          }"
                          src="./assets/images/down.svg"
                        />
                        More
                      </button>
                      <app-social
                        votingPortalLink="{{
                          itemSubsetChildren?.votingPortalLink
                        }}"
                        forumLink="{{ itemSubsetChildren?.forumLink }}"
                        [githubLink]="itemSubsetChildren.filename"
                        mobile="true"
                      ></app-social>
                      <div style="clear: both"></div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="load-more" *ngIf="moreToLoad">
        <p>{{ "Scroll to load More" | translate }}</p>
        <img src="./assets/images/scroll.svg" />
      </div>
      <div class="loading-plus" *ngIf="loading">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </div>
  </div>
  <div class="no-result" *ngIf="!loading && dataSource?.length == 0">
    <div *ngIf="dataSource.length == 0 && !loading">
      <img *ngIf="!darkMode" src="./assets/images/no_results.svg" />
      <img *ngIf="darkMode" src="./assets/images/no_results_dark.svg" />
      <p>{{ "No results found" | translate }}</p>
    </div>
  </div>
</div>
