# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js develop CI

on:
  push:
    branches: [ develop ] 
    paths:
        - "backend/**"  

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with: 
        node-version: ${{ matrix.node-version }}
    - name: install and test 
      run: |
        npm install
        npm test    
        npm build        
      working-directory: backend  

  deploy:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Copy file via scp
      uses: appleboy/scp-action@master
      env:
        HOST: ${{ secrets.SSH_HOST }}
        USERNAME: ${{ secrets.SSH_USER }}
        PORT: ${{ secrets.SSH_PORT }}
        PASSWORD: ${{ secrets.SSH_PASS }}
      with:
        source: "./backend"
        target: "/var/warehouse/makerdao-mips-develop"

    - name: Executing remote command
      uses: appleboy/ssh-action@master
      with:
        HOST: ${{ secrets.SSH_HOST }}
        USERNAME: ${{ secrets.SSH_USER }}
        PORT: ${{ secrets.SSH_PORT }}
        PASSWORD: ${{ secrets.SSH_PASS }}
        script: | 
          cd /var/warehouse/makerdao-mips-develop/backend
          pm2 stop dist/main.js
          npm install
          npm run build
          npm run pre-start
          npx nestjs-command parse:mips
          pm2 start dist/main.js --name "api-dev"
